.homepage {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background: black; */
    min-height: 50vh;
    width: 75%;
    padding: 10px;
    margin: 5px auto;
}

.homepage h1 {
    text-align: center;
    color: #0d428c;
}