/* Demo Setup Styles */
.button-demos-body h2 {
    font-size: 30px;
    margin: 20px;
    color: #0d428c;
    text-align: center;
}

.button-demos-body .options-container {
    position: relative;
    width: 75%;
    margin: 10px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 10px;
    color: #0d428c;
}

.button-demos-body .options-container h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 0;
    text-align: center;
    color: #0d428c;
    background: white;
}

.button-demos-body .options-container .options-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin: 10px;
    box-shadow: inset rgba(0, 0, 0, 0.5) 0px 5px 10px;
    background: #0d428c;
}

.button-demos-body .options-container .options-box .option-section {
    padding: 10px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
    background: white;
}

.button-demos-body .options-container .options-box button {
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top: none;
    border-bottom: none;
    border-left: none;
    background: white;
    color: rgba(0, 0, 0, 1);
    transition: .5s;
}

.button-demos-body .options-container .options-box button.active {
    background: #0d428c;
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
}

.button-demos-body .options-container .options-box button:hover {
    color: white;
    background: #0d428c;
    border-color: rgba(255, 255, 255, 0.5);
}

.button-demos-body .options-container .options-box button:focus {
    outline: none;
}

.button-demos-body .demo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 50px 10px 10px;
    margin: 15px 0;
}

.button-demos-body .demo-container .button-container {
    position: relative;
    width: 95%;
    min-height: 150px;
    margin: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.button-demos-body .demo-container .button-container:before {
    content: attr(data-text);
    position: absolute;
    background: black;
    color: white;
    padding: 5px 10px;
    top: -15px;
    left: 2%;
    border: 1px solid black;
    z-index: 1;
}

.button-demos-body .demo-container.dark {
    background: rgb(50, 50, 50);
    border: 1px solid black;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 45px;
}

.button-demos-body .demo-container.dark .button-container {
    background: black;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.button-demos-body .demo-container.dark .button-container:before {
    background: rgb(30, 30, 30);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.button-demos-body .demo-container.light {
    border: 1px solid rgba(235, 235, 235, 0.5);
    background: rgb(235, 235, 235);
    box-shadow: inset rgba(0, 0, 0, 0.7) 0px 5px 45px;
}

.button-demos-body .demo-container.light .button-container {
    background: white;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

.button-demos-body .demo-container.light .button-container:before {
    background: rgb(235, 235, 235);
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

/* Middle Out Buttom Demo */
.middle-out-button-demo {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

.middle-out-button-demo .middle-out-button {
    position: relative;
    margin: 15px 5px 5px;
    padding: 8px 30px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 20px;
    border: 2px solid black;
    box-sizing: border-box;
    background: none;
    transition: .5s;
    z-index: 1;
}

.middle-out-button-demo .middle-out-button.xlg {
    padding: 18px 35px;
    font-size: 26px;
    border: 2.5px solid black;
}

.middle-out-button-demo .middle-out-button.lg {
    padding: 14px 30px;
    font-size: 22px;
    border: 2px solid black;
}

.middle-out-button-demo .middle-out-button.md {
    padding: 12px 25px;
    font-size: 18px;
    border: 1px solid black;
}

.middle-out-button-demo .middle-out-button.sm {
    padding: 9px 20px;
    font-size: 14px;
    border: 1px solid black;
}

.middle-out-button-demo .middle-out-button.xs {
    padding: 7px 15px;
    font-size: 12px;
    border: .5px solid black;
}

.middle-out-button-demo .middle-out-button:hover {
    color: white;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.middle-out-button-demo .middle-out-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 51%;
    height: 100%;
    background: black;
    z-index: -1;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: left;
}

.middle-out-button-demo .middle-out-button:hover:before {
    transform: scaleX(1);
    transition: transform .5s;
    transform-origin: right;
}

.middle-out-button-demo .middle-out-button:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 51%;
    height: 100%;
    background: black;
    z-index: -1;
    transform: scaleX(0);
    transition: transform .5s;
    transform-origin: right;
}

.middle-out-button-demo .middle-out-button:hover:after {
    transform: scaleX(1);
    transition: transform .5s;
    transform-origin: left;
}

.middle-out-button-demo .middle-out-button.blue {
    color: #03a9f4;
    border-color: #03a9f4;
}

.middle-out-button-demo .middle-out-button.blue:before {
    background: #03a9f4;
}

.middle-out-button-demo .middle-out-button.blue:after {
    background: #03a9f4;
}

.middle-out-button-demo .middle-out-button.mint {
    color: #00ffb0;
    border-color: #00ffb0;
}

.middle-out-button-demo .middle-out-button.mint:before {
    background: #00ffb0;
}

.middle-out-button-demo .middle-out-button.mint:after {
    background: #00ffb0;
}

.middle-out-button-demo .middle-out-button.lightgreen {
    color: #b6dc00;
    border-color: #b6dc00;
}

.middle-out-button-demo .middle-out-button.lightgreen:before {
    background: #b6dc00;
}

.middle-out-button-demo .middle-out-button.lightgreen:after {
    background: #b6dc00;
}

.middle-out-button-demo .middle-out-button.green {
    color: #00ff10;
    border-color: #00ff10;
}

.middle-out-button-demo .middle-out-button.green:before {
    background: #00ff10;
}

.middle-out-button-demo .middle-out-button.green:after {
    background: #00ff10;
}

.middle-out-button-demo .middle-out-button.purple {
    color: #c13ce9;
    border-color: #c13ce9;
}

.middle-out-button-demo .middle-out-button.purple:before {
    background: #c13ce9;
}

.middle-out-button-demo .middle-out-button.purple:after {
    background: #c13ce9;
}

.middle-out-button-demo .middle-out-button.pink {
    color: #ff5caf;
    border-color: #ff5caf;
}

.middle-out-button-demo .middle-out-button.pink:before {
    background: #ff5caf;
}

.middle-out-button-demo .middle-out-button.pink:after {
    background: #ff5caf;
}

.middle-out-button-demo .middle-out-button.hotpink {
    color: #fc349d;
    border-color: #fc349d;
}

.middle-out-button-demo .middle-out-button.hotpink:before {
    background: #fc349d;
}

.middle-out-button-demo .middle-out-button.hotpink:after {
    background: #fc349d;
}

.middle-out-button-demo .middle-out-button.red {
    color: #f12a32;
    border-color: #f12a32;
}

.middle-out-button-demo .middle-out-button.red:before {
    background: #f12a32;
}

.middle-out-button-demo .middle-out-button.red:after {
    background: #f12a32;
}

.middle-out-button-demo .middle-out-button.redorange {
    color: #f63b00;
    border-color: #f63b00;
}

.middle-out-button-demo .middle-out-button.redorange:before {
    background: #f63b00;
}

.middle-out-button-demo .middle-out-button.redorange:after {
    background: #f63b00;
}

.middle-out-button-demo .middle-out-button.orange {
    color: #ff8100;
    border-color: #ff8100;
}

.middle-out-button-demo .middle-out-button.orange:before {
    background: #ff8100;
}

.middle-out-button-demo .middle-out-button.orange:after {
    background: #ff8100;
}

.middle-out-button-demo .middle-out-button.yellow {
    color: #ffec00;
    border-color: #ffec00;
}

.middle-out-button-demo .middle-out-button.yellow:before {
    background: #ffec00;
}

.middle-out-button-demo .middle-out-button.yellow:after {
    background: #ffec00;
}

.middle-out-button-demo .middle-out-button.white {
    color: white;
    border-color: white;
}

.middle-out-button-demo .middle-out-button.white:before {
    background: white;
}

.middle-out-button-demo .middle-out-button.white:after {
    background: white;
}

.middle-out-button-demo .middle-out-button.light:hover,
.middle-out-button-demo .middle-out-button.dark:hover {
    color: white;
    text-shadow: 1px 1px black; 
}

.middle-out-button-demo .middle-out-button.black:hover {
    color: white;
    text-shadow: none; 
}

.middle-out-button-demo .middle-out-button.white:hover {
    color: black;
    text-shadow: none;
}

/* .middle-out-button-demo .middle-out-button.xs:hover {
    text-shadow: none;
} */

/* Shooting Border Button Demo */
.shooting-border-button-demo {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shooting-border-button-demo .shooting-border-button {
    position: relative;
    background: #0c002b;
    color: #1670f0;
    padding: 30px 60px;
    margin: 10px;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transition: 1s;
    border: none;
}

.shooting-border-button-demo .shooting-border-button:focus {
    outline: none;
}

.shooting-border-button-demo .shooting-border-button:hover {
    cursor: pointer;
}

.shooting-border-button-demo .shooting-border-button.blue {
    color: #1670f0;
    background: #0c002b;
}

.shooting-border-button-demo .shooting-border-button.mint {
    color: #00ffb0;
    background: #00100c;
}

.shooting-border-button-demo .shooting-border-button.lightgreen {
    color: #b6dc00;
    background: #001700;
}

.shooting-border-button-demo .shooting-border-button.green {
    color: #00ff10;
    background: #001b0d;
}

.shooting-border-button-demo .shooting-border-button.yellow {
    color: #ffec00;
    background: #1a1500;
}

.shooting-border-button-demo .shooting-border-button.orange {
    color: #ff8100;
    background: #201000;
}

.shooting-border-button-demo .shooting-border-button.redorange {
    color: #f63b00;
    background: #1d0700;
}

.shooting-border-button-demo .shooting-border-button.red {
    color: #f12a32;
    background: #190300;
}

.shooting-border-button-demo .shooting-border-button.hotpink {
    color: #fc349d;
    background: #1f0001;
}

.shooting-border-button-demo .shooting-border-button.pink {
    color: #ff5caf;
    background: #2b0000;
}

.shooting-border-button-demo .shooting-border-button.purple {
    color: #c13ce9;
    background: #200025;
}

.shooting-border-button-demo .shooting-border-button.white {
    color: black;
    background: #c4c4c4;
}

.shooting-border-button-demo .shooting-border-button.black {
    color: white;
    background: #121212;
}

.shooting-border-button-demo .shooting-border-button.xlg {
    padding: 30px 60px;
    font-size: 30px;
    letter-spacing: 2px;
}

.shooting-border-button-demo .shooting-border-button.lg {
    padding: 25px 50px;
    font-size: 25px;
    letter-spacing: 2px;
}

.shooting-border-button-demo .shooting-border-button.md {
    padding: 20px 40px;
    font-size: 20px;
    letter-spacing: 2px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

.shooting-border-button-demo .shooting-border-button.sm {
    padding: 15px 30px;
    font-size: 15px;
    letter-spacing: 2px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.shooting-border-button-demo .shooting-border-button.xs {
    padding: 10px 20px;
    font-size: 10px;
    letter-spacing: 2px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.shooting-border-button-demo .shooting-border-button:before {
    content: "";
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    width: 50%;
    background: rgba(255, 255, 255, .05);
}

.shooting-border-button-demo .shooting-border-button.white:before {
    background: rgba(255, 255, 255, .2);
}

.shooting-border-button-demo .shooting-border-button:hover span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #0c002b, #1779ff);
    animation: animateTop 2s linear infinite;
}

.shooting-border-button-demo .shooting-border-button.blue:hover span:nth-child(1) {
    background: linear-gradient(to right, #0c002b, #1670f0);
}

.shooting-border-button-demo .shooting-border-button.mint:hover span:nth-child(1) {
    background: linear-gradient(to right, #00100c, #00ffb0);
}

.shooting-border-button-demo .shooting-border-button.lightgreen:hover span:nth-child(1) {
    background: linear-gradient(to right, #001700, #b6dc00);
}

.shooting-border-button-demo .shooting-border-button.green:hover span:nth-child(1) {
    background: linear-gradient(to right, #001b0d, #00ff10);
}

.shooting-border-button-demo .shooting-border-button.yellow:hover span:nth-child(1) {
    background: linear-gradient(to right, #1a1500, #ffec00);
}

.shooting-border-button-demo .shooting-border-button.orange:hover span:nth-child(1) {
    background: linear-gradient(to right, #201000, #ff8100);
}

.shooting-border-button-demo .shooting-border-button.redorange:hover span:nth-child(1) {
    background: linear-gradient(to right, #1d0700, #f63b00);
}

.shooting-border-button-demo .shooting-border-button.red:hover span:nth-child(1) {
    background: linear-gradient(to right, #190300, #f12a32);
}

.shooting-border-button-demo .shooting-border-button.hotpink:hover span:nth-child(1) {
    background: linear-gradient(to right, #1f0001, #fc349d);
}

.shooting-border-button-demo .shooting-border-button.pink:hover span:nth-child(1) {
    background: linear-gradient(to right, #2b0000, #ff5caf);
}

.shooting-border-button-demo .shooting-border-button.purple:hover span:nth-child(1) {
    background: linear-gradient(to right, #200025, #c13ce9);
}

.shooting-border-button-demo .shooting-border-button.white:hover span:nth-child(1) {
    background: linear-gradient(to right, #c4c4c4, black);
}

.shooting-border-button-demo .shooting-border-button.black:hover span:nth-child(1) {
    background: linear-gradient(to right, #121212, white);
}

.shooting-border-button-demo .shooting-border-button.sm:hover span:nth-child(1),
.shooting-border-button-demo .shooting-border-button.sm:hover span:nth-child(3),
.shooting-border-button-demo .shooting-border-button.xs:hover span:nth-child(1),
.shooting-border-button-demo .shooting-border-button.xs:hover span:nth-child(3) {
    height: 1px;
}

.shooting-border-button-demo .shooting-border-button.sm:hover span:nth-child(2),
.shooting-border-button-demo .shooting-border-button.sm:hover span:nth-child(4),
.shooting-border-button-demo .shooting-border-button.xs:hover span:nth-child(2),
.shooting-border-button-demo .shooting-border-button.xs:hover span:nth-child(4) {
    width: 1px;
}

@keyframes animateTop {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.shooting-border-button-demo .shooting-border-button:hover span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, #0c002b, #1779ff);
    animation: animateRight 2s linear infinite;
    animation-delay: 1s;
    visibility: hidden;
}

.shooting-border-button-demo .shooting-border-button.blue:hover span:nth-child(2) {
    background: linear-gradient(to bottom, #0c002b, #1670f0);
}

.shooting-border-button-demo .shooting-border-button.mint:hover span:nth-child(2) {
    background: linear-gradient(to bottom, #00100c, #00ffb0);
}

.shooting-border-button-demo .shooting-border-button.lightgreen:hover span:nth-child(2) {
    background: linear-gradient(to bottom, #001700, #b6dc00);
}

.shooting-border-button-demo .shooting-border-button.green:hover span:nth-child(2) {
    background: linear-gradient(to bottom, #001b0d, #00ff10);
}

.shooting-border-button-demo .shooting-border-button.yellow:hover span:nth-child(2) {
    background: linear-gradient(to bottom, #1a1500, #ffec00);
}

.shooting-border-button-demo .shooting-border-button.orange:hover span:nth-child(2) {
    background: linear-gradient(to bottom, #201000, #ff8100);
}

.shooting-border-button-demo .shooting-border-button.redorange:hover span:nth-child(2) {
    background: linear-gradient(to bottom, #1d0700, #f63b00);
}

.shooting-border-button-demo .shooting-border-button.red:hover span:nth-child(2) {
    background: linear-gradient(to bottom, #190300, #f12a32);
}

.shooting-border-button-demo .shooting-border-button.hotpink:hover span:nth-child(2) {
    background: linear-gradient(to bottom, #1f0001, #fc349d);
}

.shooting-border-button-demo .shooting-border-button.pink:hover span:nth-child(2) {
    background: linear-gradient(to bottom, #2b0000, #ff5caf);
}

.shooting-border-button-demo .shooting-border-button.purple:hover span:nth-child(2) {
    background: linear-gradient(to bottom, #200025, #c13ce9);
}

.shooting-border-button-demo .shooting-border-button.white:hover span:nth-child(2) {
    background: linear-gradient(to bottom, #c4c4c4, black);
}

.shooting-border-button-demo .shooting-border-button.black:hover span:nth-child(2) {
    background: linear-gradient(to bottom, #121212, white);
}

@keyframes animateRight {
    0% {
        visibility: visible;
        transform: translateY(-100%);
    }
    100% {
        visibility: visible;
        transform: translateY(100%);
    }
}

.shooting-border-button-demo .shooting-border-button:hover span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, #0c002b, #1779ff);
    animation: animateBottom 2s linear infinite;
}

.shooting-border-button-demo .shooting-border-button.blue:hover span:nth-child(3) {
    background: linear-gradient(to left, #0c002b, #1670f0);
}

.shooting-border-button-demo .shooting-border-button.mint:hover span:nth-child(3) {
    background: linear-gradient(to left, #00100c, #00ffb0);
}

.shooting-border-button-demo .shooting-border-button.lightgreen:hover span:nth-child(3) {
    background: linear-gradient(to left, #001700, #b6dc00);
}

.shooting-border-button-demo .shooting-border-button.green:hover span:nth-child(3) {
    background: linear-gradient(to left, #001b0d, #00ff10);
}

.shooting-border-button-demo .shooting-border-button.yellow:hover span:nth-child(3) {
    background: linear-gradient(to left, #1a1500, #ffec00);
}

.shooting-border-button-demo .shooting-border-button.orange:hover span:nth-child(3) {
    background: linear-gradient(to left, #201000, #ff8100);
}

.shooting-border-button-demo .shooting-border-button.redorange:hover span:nth-child(3) {
    background: linear-gradient(to left, #1d0700, #f63b00);
}

.shooting-border-button-demo .shooting-border-button.red:hover span:nth-child(3) {
    background: linear-gradient(to left, #190300, #f12a32);
}

.shooting-border-button-demo .shooting-border-button.hotpink:hover span:nth-child(3) {
    background: linear-gradient(to left, #1f0001, #fc349d);
}

.shooting-border-button-demo .shooting-border-button.pink:hover span:nth-child(3) {
    background: linear-gradient(to left, #2b0000, #ff5caf);
}

.shooting-border-button-demo .shooting-border-button.purple:hover span:nth-child(3) {
    background: linear-gradient(to left, #200025, #c13ce9);
}

.shooting-border-button-demo .shooting-border-button.white:hover span:nth-child(3) {
    background: linear-gradient(to left, #c4c4c4, black);
}

.shooting-border-button-demo .shooting-border-button.black:hover span:nth-child(3) {
    background: linear-gradient(to left, #121212, white);
}

@keyframes animateBottom {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.shooting-border-button-demo .shooting-border-button:hover span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, #0c002b, #1779ff);
    animation: animateLeft 2s linear infinite;
    animation-delay: 1s;
    visibility: hidden;
}

.shooting-border-button-demo .shooting-border-button.blue:hover span:nth-child(4) {
    background: linear-gradient(to top, #0c002b, #1670f0);
}

.shooting-border-button-demo .shooting-border-button.mint:hover span:nth-child(4) {
    background: linear-gradient(to top, #00100c, #00ffb0);
}

.shooting-border-button-demo .shooting-border-button.lightgreen:hover span:nth-child(4) {
    background: linear-gradient(to top, #001700, #b6dc00);
}

.shooting-border-button-demo .shooting-border-button.green:hover span:nth-child(4) {
    background: linear-gradient(to top, #001b0d, #00ff10);
}

.shooting-border-button-demo .shooting-border-button.yellow:hover span:nth-child(4) {
    background: linear-gradient(to top, #1a1500, #ffec00);
}

.shooting-border-button-demo .shooting-border-button.orange:hover span:nth-child(4) {
    background: linear-gradient(to top, #201000, #ff8100);
}

.shooting-border-button-demo .shooting-border-button.redorange:hover span:nth-child(4) {
    background: linear-gradient(to top, #1d0700, #f63b00);
}

.shooting-border-button-demo .shooting-border-button.red:hover span:nth-child(4) {
    background: linear-gradient(to top, #190300, #f12a32);
}

.shooting-border-button-demo .shooting-border-button.hotpink:hover span:nth-child(4) {
    background: linear-gradient(to top, #1f0001, #fc349d);
}

.shooting-border-button-demo .shooting-border-button.pink:hover span:nth-child(4) {
    background: linear-gradient(to top, #2b0000, #ff5caf);
}

.shooting-border-button-demo .shooting-border-button.purple:hover span:nth-child(4) {
    background: linear-gradient(to top, #200025, #c13ce9);
}

.shooting-border-button-demo .shooting-border-button.white:hover span:nth-child(4) {
    background: linear-gradient(to top, #c4c4c4, black);
}

.shooting-border-button-demo .shooting-border-button.black:hover span:nth-child(4) {
    background: linear-gradient(to top, #121212, white);
}

@keyframes animateLeft {
    0% {
        visibility: visible;
        transform: translateY(100%);
    }
    100% {
        visibility: visible;
        transform: translateY(-100%);
    }
}

/* Animated Outline Button Demo */
.animated-outline-button-demo {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animated-outline-button-demo .animated-outline-button {
    position: relative;
    width: 180px;
    height: 60px;
    margin: 5px;
    text-align: center;
    line-height: 60px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    background: none;
    border: none;
}

.animated-outline-button-demo .animated-outline-button.light {
    color: black;
}

.animated-outline-button-demo .animated-outline-button:focus {
    outline: none;
}

.animated-outline-button-demo .animated-outline-button:hover {
    cursor: pointer;
}

.animated-outline-button-demo .animated-outline-button.xlg {
    width: 210px;
    height: 70px;
    line-height: 70px;
    font-size: 28px;
}

.animated-outline-button-demo .animated-outline-button.lg {
    width: 180px;
    height: 60px;
    line-height: 60px;
    font-size: 24px;
}

.animated-outline-button-demo .animated-outline-button.md {
    width: 160px;
    height: 55px;
    line-height: 55px;
    font-size: 20px;
}

.animated-outline-button-demo .animated-outline-button.sm {
    width: 130px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
}

.animated-outline-button-demo .animated-outline-button.xs {
    width: 90px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}

.animated-outline-button-demo .animated-outline-button svg,
.animated-outline-button-demo .animated-outline-button svg rect {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    fill: transparent;
}

.animated-outline-button-demo .animated-outline-button svg rect {
    stroke: white;
    stroke-width: 4;
    transition: 1s;
    stroke-dasharray: 500, 500;
    stroke-dashoffset: 0;
}

.animated-outline-button-demo .animated-outline-button.light svg rect {
    stroke: black;
}

.animated-outline-button-demo .animated-outline-button.sm svg rect {
    stroke-width: 3;
}

.animated-outline-button-demo .animated-outline-button.xs svg rect {
    stroke-width: 2;
}

.animated-outline-button-demo .animated-outline-button:hover svg rect {
    stroke-dasharray: 100, 400;
    stroke-dashoffset: 220;
    stroke: #00bcd4;
}

/* .animated-outline-button-demo .animated-outline-button.mint:hover svg rect {
} */

.animated-outline-button-demo .animated-outline-button.blue:hover svg rect {
    stroke: #00bcd4;
}

.animated-outline-button-demo .animated-outline-button.mint:hover svg rect {
    stroke: #00f192;
}

.animated-outline-button-demo .animated-outline-button.hotpink:hover svg rect {
    stroke: #ff3183;
}

.animated-outline-button-demo .animated-outline-button.purple:hover svg rect {
    stroke: #8945c7;
}

.animated-outline-button-demo .animated-outline-button.pink:hover svg rect {
    stroke: #ff5fff;
}

.animated-outline-button-demo .animated-outline-button.red:hover svg rect {
    stroke: #ff3333;
}

.animated-outline-button-demo .animated-outline-button.redorange:hover svg rect {
    stroke: #ff4800;
}

.animated-outline-button-demo .animated-outline-button.orange:hover svg rect {
    stroke: #ff6f00;
}

.animated-outline-button-demo .animated-outline-button.yellow:hover svg rect {
    stroke: #ffc701;
}

.animated-outline-button-demo .animated-outline-button.lightgreen:hover svg rect {
    stroke: #c5ef01;
}

.animated-outline-button-demo .animated-outline-button.green:hover svg rect {
    stroke: #5bdb01;
}

.animated-outline-button-demo .animated-outline-button.black:hover svg rect {
    stroke: #000000;
}

.animated-outline-button-demo .animated-outline-button.white:hover svg rect {
    stroke: #ffffff;
}

.animated-outline-button-demo .animated-outline-button.xlg svg rect {
    stroke-dasharray: 560, 500;
}

.animated-outline-button-demo .animated-outline-button.xlg:hover svg rect {
    stroke-dasharray: 110, 400;
    stroke-dashoffset: 180;
    /* stroke: #00bcd4; */
}

.animated-outline-button-demo .animated-outline-button.lg svg rect {
    stroke-dasharray: 500, 500;
}

.animated-outline-button-demo .animated-outline-button.lg:hover svg rect {
    stroke-dasharray: 100, 400;
    stroke-dashoffset: 220;
}

.animated-outline-button-demo .animated-outline-button.md svg rect {
    stroke-dasharray: 430, 500;
}

.animated-outline-button-demo .animated-outline-button.md:hover svg rect {
    stroke-dasharray: 80, 350;
    stroke-dashoffset: 175;
}

.animated-outline-button-demo .animated-outline-button.sm svg rect {
    stroke-dasharray: 340, 500;
}

.animated-outline-button-demo .animated-outline-button.sm:hover svg rect {
    stroke-dasharray: 65, 350;
    stroke-dashoffset: 212;
}

.animated-outline-button-demo .animated-outline-button.xs svg rect {
    stroke-dasharray: 270, 500;
}

.animated-outline-button-demo .animated-outline-button.xs:hover svg rect {
    stroke-dasharray: 50, 350;
    stroke-dashoffset: 258;
}

/* Oscillating Solid Button Demo */
.oscillating-solid-button-demo {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.oscillating-solid-button-demo .oscillating-solid-button {
    position: relative;
    margin: 5px;
    padding: 15px 30px;
    text-transform: uppercase;
    text-decoration: none;
    background: transparent;
    border: none;
    color: white;
    letter-spacing: 2px;
    font-size: 20px;
    z-index: 1;
}

.oscillating-solid-button-demo .oscillating-solid-button.light {
    color: black;
}

.oscillating-solid-button-demo .oscillating-solid-button.light:hover {
    color: white;
}

.oscillating-solid-button-demo .oscillating-solid-button.dark {
    color: white;
}

.oscillating-solid-button-demo .oscillating-solid-button:focus {
    outline: none;
}

.oscillating-solid-button-demo .oscillating-solid-button:hover {
    cursor: pointer;
}

.oscillating-solid-button-demo .oscillating-solid-button.xlg {
    padding: 20px 40px;
    font-size: 25px;
}

.oscillating-solid-button-demo .oscillating-solid-button.lg {
    padding: 15px 30px;
    font-size: 20px;
}

.oscillating-solid-button-demo .oscillating-solid-button.md {
    padding: 12px 24px;
    font-size: 18px;
}

.oscillating-solid-button-demo .oscillating-solid-button.sm {
    padding: 8px 16px;
    letter-spacing: 1px;
    font-size: 16px;
}

.oscillating-solid-button-demo .oscillating-solid-button.xs {
    padding: 5px 10px;
    font-size: 12px;
    letter-spacing: 1px;
}

.oscillating-solid-button-demo .oscillating-solid-button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #03a9f4;
    z-index: -1;
    transition: transform .5s;
    transform-origin: bottom right;
    transform: scale(0);
}

.oscillating-solid-button-demo .oscillating-solid-button.blue:before {
    background: #03a9f4;
}

.oscillating-solid-button-demo .oscillating-solid-button.mint:before {
    background: #00f192;
}

.oscillating-solid-button-demo .oscillating-solid-button.hotpink:before {
    background: #ff3183;
}

.oscillating-solid-button-demo .oscillating-solid-button.purple:before {
    background: #8945c7;
}

.oscillating-solid-button-demo .oscillating-solid-button.pink:before {
    background: #ff5fff;
}

/* .liquid-wave-button-demo .liquid-wave-button.carribean .liquid {
    background: #59ddff;
} */

/* .liquid-wave-button-demo .liquid-wave-button.hotpink .liquid {
    background: #fe479f;
} */

.oscillating-solid-button-demo .oscillating-solid-button.red:before {
    background: #ff3333;
}

.oscillating-solid-button-demo .oscillating-solid-button.redorange:before {
    background: #ff4800;
}

.oscillating-solid-button-demo .oscillating-solid-button.orange:before {
    background: #ff6f00;
}

.oscillating-solid-button-demo .oscillating-solid-button.yellow:before {
    background: #ffc701;
}

.oscillating-solid-button-demo .oscillating-solid-button.lightgreen:before {
    background: #c5ef01;
}

.oscillating-solid-button-demo .oscillating-solid-button.green:before {
    background: #5bdb01;
}

.oscillating-solid-button-demo .oscillating-solid-button.white:before {
    background: white;
}

.oscillating-solid-button-demo .oscillating-solid-button.white:hover {
    color: black;
}

.oscillating-solid-button-demo .oscillating-solid-button.black:before {
    background: black;
}

/* .oscillating-solid-button-demo .oscillating-solid-button.white:hover {
    color: black;
} */

.oscillating-solid-button-demo .oscillating-solid-button:hover:before {
    transition: transform .5s;
    transform-origin: top left;
    transform: scale(1);
}

.oscillating-solid-button-demo .oscillating-solid-button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid white;
    z-index: -1;
    transition: transform .5s;
    transform-origin: top left;
    box-sizing: border-box;
    transform: scale(1);
}

.oscillating-solid-button-demo .oscillating-solid-button.light:after {
    border: 2px solid black;
}

.oscillating-solid-button-demo .oscillating-solid-button.sm:after,
.oscillating-solid-button-demo .oscillating-solid-button.xs:after {
    border: 1px solid white;
}

.oscillating-solid-button-demo .oscillating-solid-button.sm.light:after,
.oscillating-solid-button-demo .oscillating-solid-button.xs.light:after {
    border: 1px solid black;
}

.oscillating-solid-button-demo .oscillating-solid-button:hover:after {
    transition: transform .5s;
    transform-origin: bottom right;
    transform: scale(0);
}

/* Three Dimensional Button Demo */
.three-dimensional-button-demo {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.three-dimensional-button-demo .demo-container .button-container {
    border: 1px solid #03a8f487 !important;
    background: #2196f3 !important;
    min-height: 250px;
}

.three-dimensional-button-demo .three-dimensional-button {
    position: relative;
    margin: 5px 20px;
    padding: 20px 20px 20px 30px;
    color: white;
    background: transparent;
    border: none;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 10px;
    transition: .5s;
}

.three-dimensional-button-demo .three-dimensional-button:focus {
    outline: none;
}

.three-dimensional-button-demo .three-dimensional-button.xlg {
    padding: 22px 22px 22px 32px;
    font-size: 22px;
    letter-spacing: 12px;
}

.three-dimensional-button-demo .three-dimensional-button.lg {
    padding: 20px 20px 20px 30px;
    font-size: 20px;
    letter-spacing: 10px;
}

.three-dimensional-button-demo .three-dimensional-button.md {
    padding: 15px 15px 15px 25px;
    font-size: 15px;
    letter-spacing: 8px;
}

.three-dimensional-button-demo .three-dimensional-button.sm {
    padding: 12px 12px 12px 20px;
    font-size: 12px;
    letter-spacing: 5px;
}

.three-dimensional-button-demo .three-dimensional-button.xs {
    padding: 8px 8px 8px 12px;
    font-size: 8px;
    letter-spacing: 3px;
}

.three-dimensional-button-demo .three-dimensional-button:hover {
    cursor: pointer;
    box-shadow: -30px 30px 50px rgba(0, 0, 0, 0.4);
    transform: rotate(-10deg) skew(5deg);
    transition-delay: 2s;
}

.three-dimensional-button-demo .three-dimensional-button.sm:hover {
    box-shadow: -20px 20px 40px rgba(0, 0, 0, 0.4);
}

.three-dimensional-button-demo .three-dimensional-button.xs:hover {
    box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.4);
}

.three-dimensional-button-demo .three-dimensional-button:before, 
.three-dimensional-button-demo .three-dimensional-button:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: white;
    pointer-events: none;
    transform-style: linear;
    transition-property: width, opacity, transform, box-shadow;
    transition-duration: .5s;
}

.three-dimensional-button-demo .three-dimensional-button.sm:before, 
.three-dimensional-button-demo .three-dimensional-button.sm:after,
.three-dimensional-button-demo .three-dimensional-button.xs:before, 
.three-dimensional-button-demo .three-dimensional-button.xs:after {
    width: 1px;
}

.three-dimensional-button-demo .three-dimensional-button:before {
    top: 0;
    left: 0;
}

.three-dimensional-button-demo .three-dimensional-button:after {
    top: 0;
    right: 0;
}

.three-dimensional-button-demo .three-dimensional-button:hover:before {
    width: 100%;
    opacity: .1;
    transform: translate(5px, -5px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
    transition-delay: 0s, .5s, 1s, 1.5s;
}

.three-dimensional-button-demo .three-dimensional-button.sm:hover:before,
.three-dimensional-button-demo .three-dimensional-button.xs:hover:before {
    transform: translate(3px, -3px);
}

.three-dimensional-button-demo .three-dimensional-button:hover:after {
    width: 100%;
    opacity: .1;
    transform: translate(10px, -10px);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .1);
    transition-delay: 0s, .5s, 1s, 1.5s;
}

.three-dimensional-button-demo .three-dimensional-button.sm:hover:after,
.three-dimensional-button-demo .three-dimensional-button.xs:hover:after {
    transform: translate(6px, -6px);
}

/* Neon Reflective Button Demo */
.neon-reflective-button-demo {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.neon-reflective-button-demo .demo-container .button-container {
    min-height: 250px;
}

.neon-reflective-button-demo .neon-reflective-button {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 5px;
    color: #03e9f4;
    background: transparent;
    border: none;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005) */
}

.neon-reflective-button-demo .neon-reflective-button.reflective {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005)
}

.neon-reflective-button-demo .neon-reflective-button:hover {
    cursor: pointer;
}

.neon-reflective-button-demo .neon-reflective-button:focus {
    outline: none;
}

.neon-reflective-button-demo .neon-reflective-button.xlg {
    padding: 30px 35px;
    font-size: 28px;
    letter-spacing: 6px;
}

.neon-reflective-button-demo .neon-reflective-button.lg {
    padding: 25px 30px;
    font-size: 24px;
    letter-spacing: 4px;
}

.neon-reflective-button-demo .neon-reflective-button.md {
    padding: 20px 25px;
    font-size: 20px;
    letter-spacing: 4px;
}

.neon-reflective-button-demo .neon-reflective-button.sm {
    padding: 15px 20px;
    font-size: 16px;
    letter-spacing: 3px;
}

.neon-reflective-button-demo .neon-reflective-button.xs {
    padding: 10px 15px;
    font-size: 10px;
    letter-spacing: 2px;
}

.neon-reflective-button-demo .neon-reflective-button.green {
    filter: hue-rotate(290deg);
}

.neon-reflective-button-demo .neon-reflective-button.pink {
    filter: hue-rotate(110deg);
}

.neon-reflective-button-demo .neon-reflective-button.yellow {
    filter: invert(1) hue-rotate(65deg) brightness(3);
}

.neon-reflective-button-demo .neon-reflective-button.orange {
    filter: invert(1) hue-rotate(45deg) brightness(2.5);
}

.neon-reflective-button-demo .neon-reflective-button.purple {
    filter: hue-rotate(80deg);
}

.neon-reflective-button-demo .neon-reflective-button.red {
    filter: invert(1) brightness(1.5);
}

.neon-reflective-button-demo .neon-reflective-button.white {
    filter: grayscale(1) brightness(3);
}

.neon-reflective-button-demo .neon-reflective-button.mint {
    filter: invert(1) hue-rotate(160deg) brightness(3);
}

.neon-reflective-button-demo .neon-reflective-button.cyan {
    filter: invert(1) hue-rotate(165deg) brightness(3);
}

.neon-reflective-button-demo .neon-reflective-button.magenta {
    filter: invert(1) hue-rotate(335deg) brightness(3);
}

.neon-reflective-button-demo .neon-reflective-button.hotpink {
    filter: invert(1) hue-rotate(350deg) brightness(3);
}

.neon-reflective-button-demo .neon-reflective-button.yellow:hover,
.neon-reflective-button-demo .neon-reflective-button.orange:hover,
.neon-reflective-button-demo .neon-reflective-button.red:hover,
.neon-reflective-button-demo .neon-reflective-button.mint:hover,
.neon-reflective-button-demo .neon-reflective-button.cyan:hover,
.neon-reflective-button-demo .neon-reflective-button.magenta:hover,
.neon-reflective-button-demo .neon-reflective-button.hotpink:hover {
    color: white;
}

.neon-reflective-button-demo .neon-reflective-button:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

.neon-reflective-button-demo .neon-reflective-button span {
    position: absolute;
    display: block;
}

.neon-reflective-button-demo .neon-reflective-button.bd-no span {
    display: none;
}

.neon-reflective-button-demo .neon-reflective-button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: neon-reflective-1 3s linear infinite;
}

.neon-reflective-button-demo .neon-reflective-button.bd-f span:nth-child(1) {
    animation: neon-reflective-1 1s linear infinite;
}

@keyframes neon-reflective-1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.neon-reflective-button-demo .neon-reflective-button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: neon-reflective-2 3s linear infinite;
    animation-delay: .75s;
}

.neon-reflective-button-demo .neon-reflective-button.bd-f span:nth-child(2) {
    animation: neon-reflective-2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes neon-reflective-2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.neon-reflective-button-demo .neon-reflective-button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: neon-reflective-3 3s linear infinite;
    animation-delay: 1.5s;
}

.neon-reflective-button-demo .neon-reflective-button.bd-f span:nth-child(3) {
    animation: neon-reflective-3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes neon-reflective-3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.neon-reflective-button-demo .neon-reflective-button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: neon-reflective-4 3s linear infinite;
    animation-delay: 2.25s;
}

.neon-reflective-button-demo .neon-reflective-button.bd-f span:nth-child(4) {
    animation: neon-reflective-4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes neon-reflective-4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

/* Liquid Wave Button Demo */
.liquid-wave-button-demo {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.liquid-wave-button-demo .liquid-wave-button {
    position: relative;
    padding: 20px 45px;
    margin: 5px;
    display: block;
    text-decoration: none;
    border: none;
    text-transform: uppercase;
    width: 200px;
    background: transparent;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
}

.liquid-wave-button-demo .liquid-wave-button:focus {
    outline: none;
}

.liquid-wave-button-demo .liquid-wave-button:hover {
    cursor: pointer;
}

.liquid-wave-button-demo .liquid-wave-button span {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 20px;
    letter-spacing: 8px;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, .3);
}

.liquid-wave-button-demo .liquid-wave-button.xlg {
    padding: 25px 57px;
    width: 250px;
}

.liquid-wave-button-demo .liquid-wave-button.xlg span {
    font-size: 24px;
    letter-spacing: 10px;
}

.liquid-wave-button-demo .liquid-wave-button.lg {
    padding: 20px 45px;
    width: 200px;
}

.liquid-wave-button-demo .liquid-wave-button.lg span {
    font-size: 20px;
    letter-spacing: 8px;
}

.liquid-wave-button-demo .liquid-wave-button.md {
    padding: 16px 35px;
    width: 160px;
}

.liquid-wave-button-demo .liquid-wave-button.md span {
    font-size: 16px;
    letter-spacing: 6px;
}

.liquid-wave-button-demo .liquid-wave-button.sm {
    padding: 14px 30px;
    width: 130px;
}

.liquid-wave-button-demo .liquid-wave-button.sm span {
    font-size: 14px;
    letter-spacing: 4px;
}

.liquid-wave-button-demo .liquid-wave-button.xs {
    padding: 10px 15px 10px 18px;
    width: 90px;
}

.liquid-wave-button-demo .liquid-wave-button.xs span {
    font-size: 10px;
    letter-spacing: 2px;
}

.liquid-wave-button-demo .liquid-wave-button .liquid {
    position: absolute;
    left: 0;
    top: -80px;
    width: 100%;
    height: 200px;
    background: #4973ff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: 1.25s;
}

.liquid-wave-button-demo .liquid-wave-button.blue .liquid {
    background: #4973ff;
}

.liquid-wave-button-demo .liquid-wave-button.purple .liquid {
    background: #8945c7;
}

.liquid-wave-button-demo .liquid-wave-button.pink .liquid {
    background: #ff5fff;
}

.liquid-wave-button-demo .liquid-wave-button.carribean .liquid {
    background: #59ddff;
}

.liquid-wave-button-demo .liquid-wave-button.hotpink .liquid {
    background: #fe479f;
}

.liquid-wave-button-demo .liquid-wave-button.red .liquid {
    background: #ff3333;
}

.liquid-wave-button-demo .liquid-wave-button.redorange .liquid {
    background: #ff4800;
}

.liquid-wave-button-demo .liquid-wave-button.orange .liquid {
    background: #ff6f00;
}

.liquid-wave-button-demo .liquid-wave-button.yellow .liquid {
    background: #ffc701;
}

.liquid-wave-button-demo .liquid-wave-button.lightgreen .liquid {
    background: #c5ef01;
}

.liquid-wave-button-demo .liquid-wave-button.green .liquid {
    background: #5bdb01;
}

.liquid-wave-button-demo .liquid-wave-button.mint .liquid {
    background: #00f192;
}

.liquid-wave-button-demo .liquid-wave-button.white .liquid {
    background: white;
}

.liquid-wave-button-demo .liquid-wave-button.white span {
    color: black;
}

.liquid-wave-button-demo .liquid-wave-button.black .liquid {
    background: black;
}

.liquid-wave-button-demo .liquid-wave-button.black span {
    color: white;
}

.liquid-wave-button-demo .liquid-wave-button.xlg .liquid {
    top: -100px;
    height: 250px;
}

.liquid-wave-button-demo .liquid-wave-button.lg .liquid {
    top: -80px;
    height: 200px;
}

.liquid-wave-button-demo .liquid-wave-button.md .liquid {
    top: -60px;
    height: 160px;
}

.liquid-wave-button-demo .liquid-wave-button.sm .liquid {
    top: -50px;
    height: 130px;
}

.liquid-wave-button-demo .liquid-wave-button.xs .liquid {
    top: -35px;
    height: 90px;
}

.liquid-wave-button-demo .liquid-wave-button:hover .liquid {
    top: -120px;
}

.liquid-wave-button-demo .liquid-wave-button.xlg:hover .liquid {
    top: -150px;
}

.liquid-wave-button-demo .liquid-wave-button.md:hover .liquid {
    top: -100px;
}

.liquid-wave-button-demo .liquid-wave-button.sm:hover .liquid {
    top: -80px;
}

.liquid-wave-button-demo .liquid-wave-button.xs:hover .liquid {
    top: -55px;
}

.liquid-wave-button-demo .liquid-wave-button .liquid:before,
.liquid-wave-button-demo .liquid-wave-button .liquid:after {
    content: "";
    position: absolute;
    width: 200%;
    height: 200%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -75%);
}

.liquid-wave-button-demo .liquid-wave-button .liquid.dark:before {
    border-radius: 45%;
    background: rgba(20, 20, 20, 1);
    animation: liquid-wave 5s linear infinite;
}

.liquid-wave-button-demo .liquid-wave-button .liquid.light:before {
    border-radius: 45%;
    background: rgba(235, 235, 235, 1);
    animation: liquid-wave 5s linear infinite;
}

.liquid-wave-button-demo .liquid-wave-button.wave-nm .liquid:before {
    animation: liquid-wave 5s linear infinite;
}             

.liquid-wave-button-demo .liquid-wave-button.wave-fs .liquid:before {
    animation: liquid-wave 2.5s linear infinite;
}

.liquid-wave-button-demo .liquid-wave-button.wave-sl .liquid:before {
    animation: liquid-wave 10s linear infinite;
}

.liquid-wave-button-demo .liquid-wave-button .liquid.dark:after {
    border-radius: 40%;
    background: rgba(20, 20, 20, .5);
    animation: liquid-wave 10s linear infinite;
}

.liquid-wave-button-demo .liquid-wave-button .liquid.light:after {
    border-radius: 40%;
    background: rgba(235, 235, 235, .5);
    animation: liquid-wave 10s linear infinite;
}

.liquid-wave-button-demo .liquid-wave-button.wave-nm .liquid:after {
    animation: liquid-wave 10s linear infinite;
}

.liquid-wave-button-demo .liquid-wave-button.wave-fs .liquid:after {
    animation: liquid-wave 5s linear infinite;
}

.liquid-wave-button-demo .liquid-wave-button.wave-sl .liquid:after {
    animation: liquid-wave 20s linear infinite;
}

@keyframes liquid-wave {
    0% {
        transform: translate(-50%, -75%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -75%) rotate(360deg);
    }
}





