.code-box {
    width: 90%;
    /* height: 560px; */
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    /* background: #0d428c; */
    background: black;
    justify-content: space-around;
    /* background: black; */
    /* border-radius: 15px; */
    /* box-shadow: rgba(0, 0, 0, .9) 0px 30px 40px; */
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 10px;
}

.code-selection-box {
    width: 100%;
    /* height: 30px; */
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* .code-selection-box button {
    background: none;
    border: none;
    transition: 1s;
} */

.code-selection-box button {
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-top: none;
    border-bottom: none;
    border-left: none;
    background: black;
    color: white;
    transition: .5s;
}

.code-selection-box button.active {
    background: #0d428c;
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
}

.code-selection-box button:hover {
    color: white;
    background: #0d428c;
    border-color: rgba(255, 255, 255, 0.5);
}

.code-selection-box button:focus {
    outline: none;
}

.code-selection-box h3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 15px;
}

.code-display-box {
    display: flex;
    height: 450px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}

pre {
    color: gold;
    /* background: #0d428c; */
    /* background: #07254f; */
    background: #212121;
    width: 100%;
    padding: 15px;
    padding: 0px;
    word-wrap: normal;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.6) 80px 0px 500px inset;
}

pre .codewindow-container {
    width: 100%;
    height: 100%;
    padding: 10px;
}

pre .codewindow-both-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    background: black;
}

pre .codewindow-both-container .codewindow-both-left, 
pre .codewindow-both-container .codewindow-both-right {
    width: 49%;
    overflow-y: scroll;
    padding: 5px;
    /* background: #07254f; */
    background: #212121;
    box-shadow: rgba(0, 0, 0, 0.6) 80px 0px 500px inset;
}

.html-code-row {
    /* padding-left: calc(var(indent) * 5%); */
}

.cw-bk {
    color: white;
}

.cw-tag {
    color: orange;
}

.cw-attr {
    color: rgb(227, 97, 140);
}

.cw-attr-val {
    color: gold;
}

.cw-eq {
    color: gray;
}

.cw-txt {
    color: white;
}

.cw-rul {
    color: rgb(255, 196, 225);
}

.cw-curl {
    color: gold;
}

.cw-prop {
    color: rgb(227, 108, 227);
}

.cw-prop-val {
    color: coral;
}

.cw-col {
    color: white;
}

.cw-par {
    color: rgb(171, 0, 171);
}

.cw-num {
    color: orange;
}

.cw-comma {
    color: white;
}

.cw-dot {
    color: white;
}

.cw-perc {
    color: lightgray;
}

.cw-meas {
    color: lightgray;
}

@media (max-width: 992px) {
    .code-selection-box h3 {
        font-size: 18px;
    }

    pre .codewindow-both-container {
        justify-content: space-around;
        flex-direction: column;
        padding: 10px;
    }
    
    pre .codewindow-both-container .codewindow-both-left, 
    pre .codewindow-both-container .codewindow-both-right {
        width: 100%;
        height: 48%;
    }
}

@media (max-width: 560px) {
    .code-selection-box h3 {
        font-size: 16px;
    }
}

@media (max-width: 516px) {
    .code-selection-box h3 {
        font-size: 14px;
    }
}

@media (max-width: 476px) {
    .code-selection-box h3 {
        font-size: 12px;
    }

    .code-selection-box button {
        padding: 4px 8px;
        margin: 3px 0;
        font-size: 11px;
    }
}

@media (max-width: 338px) {
    .code-selection-box h3 {
        font-size: 10px;
    }

    .code-selection-box button {
        padding: 4px 8px;
        margin: 3px 0;
        font-size: 11px;
    }
}