.demo-section {
    /* margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.demo-section .demo-container {
    position: relative;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 10px;
    min-height: 95vh;
    font-family: "Poppins", sans-serif;
}


.card-demo-section {
    /* width: 100%; */
    /* box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 10px; */
    /* box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 10px; */
    /* padding: 20px; */
}

/* .card-demos-body h2 {
    font-size: 30px;
    margin: 20px;
    color: #0d428c;
    text-align: center;
} */

.card-demos-body .card-demo-title {
    font-size: 30px;
    margin: 20px;
    color: #0d428c;
    text-align: center;
}

.card-demos-body .options-container {
    position: relative;
    width: 75%;
    margin: 10px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 10px;
    color: #0d428c;
}

.card-demos-body .options-container h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 0;
    text-align: center;
    color: #0d428c;
    background: white;
}

.card-demos-body .options-container .options-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin: 10px;
    box-shadow: inset rgba(0, 0, 0, 0.5) 0px 5px 10px;
    background: #0d428c;
}

.card-demos-body .options-container .options-box .option-section {
    padding: 10px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
    background: white;
}

.card-demos-body .options-container .options-box button {
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top: none;
    border-bottom: none;
    border-left: none;
    background: white;
    color: rgba(0, 0, 0, 1);
    transition: .5s;
}

.card-demos-body .options-container .options-box button.active {
    background: #0d428c;
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
}

.card-demos-body .options-container .options-box button:hover {
    color: white;
    background: #0d428c;
    border-color: rgba(255, 255, 255, 0.5);
}

.card-demos-body .options-container .options-box button:focus {
    outline: none;
}

.card-demos-body .demo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    /* padding: 50px 10px 10px; */
    margin: 15px 0;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 10px;
}



/* .card-demo-section h2 {
    font-size: 30px;
    margin: 20px;
    color: #0d428c;
    text-align: center;
} */


/* Skewed Border Demo */
.skewed-border-demo {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #060c21;
    padding: 20px;
}

.skewed-border-demo .container {
    position: relative;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-template-rows: auto;
    grid-gap: 0 40px;
    z-index: 0;
}

.skewed-border-demo .container .box {
    position: relative;
    margin-bottom: 60px;
    height: 400px;
    background: #060c21;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
}

.skewed-border-demo .container .box:before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: white;
    transform: skew(2deg, 2deg);
    z-index: -1;
}

.skewed-border-demo .container .box:nth-child(1):before {
    background: linear-gradient(315deg, #ff0057, #e64a19);
}

.skewed-border-demo .container .box:nth-child(2):before {
    background: linear-gradient(315deg, #89ff00, #00bcd4);
}

.skewed-border-demo .container .box:nth-child(3):before {
    background: linear-gradient(315deg, #e91e63, #5d02ff);
}

.skewed-border-demo .container .box:nth-child(4):before {
    background: linear-gradient(315deg, #ff0000, #ffc107);
}

.skewed-border-demo .container .box:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .05);
    pointer-events: none;
}

.skewed-border-demo .container .box .content {
    position: relative;
    padding: 20px;
    transform: translateY(40px);
}

.skewed-border-demo .container .box .content h2 {
    position: absolute;
    top: -60px;
    right: 20px;
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: rgba(255, 255, 255, .05);
    transition: .5s;
}

.skewed-border-demo .container .box:hover .content h2 {
    top: -140px;
}

.skewed-border-demo .container .box .content h3 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

.skewed-border-demo .container .box .content p {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: white;
}

.skewed-border-demo .container .box .content a {
    position: relative;
    margin: 20px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid white;
    display: inline-block;
    color: white;
    transition: .5s;
    transform: translateY(-40px);
    opacity: 0;
    visibility: hidden;
}

.skewed-border-demo .container .box:hover .content a {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.skewed-border-demo .container .box .content a:hover {
    background: white;
    color: black;
}

/* Glowing Card Demo */
.glowing-card-demo {
    font-family: 'Poppins', sans-serif;
    background: #010615;

}

.glowing-card-demo .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-wrap: wrap;
    z-index: 0;
}

.glowing-card-demo .box {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060c21;
    margin: 40px;
}

.glowing-card-demo .box:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    background: white;
    z-index: -1;
}

.glowing-card-demo .box:after {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: white;
    z-index: -1;
    filter: blur(40px);
}

.glowing-card-demo .box:nth-child(1):before,
.glowing-card-demo .box:nth-child(1):after {
    background: linear-gradient(235deg, #89ff00, #010615, #00bcd4);
}

.glowing-card-demo .box:nth-child(2):before,
.glowing-card-demo .box:nth-child(2):after {
    background: linear-gradient(235deg, #ff005e, #010615, #fbff00);
}

.glowing-card-demo .box:nth-child(3):before,
.glowing-card-demo .box:nth-child(3):after {
    background: linear-gradient(235deg, #772aff, #010615, #2196F3);
}

.glowing-card-demo .box .glass {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .05);
    pointer-events: none;
}

.glowing-card-demo .box .content {
    padding: 20px;
    color: white;
}

/* Flip Hover Card Demo */

.flip-hover-card-demo {
    font-family: "Quicksand", sans-serif;
    background: #f2f2f2;
    min-height: 100vh;
    padding: 100px 0;
}

.flip-hover-card-demo .container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.flip-hover-card-demo .container .card {
    position: relative;
    margin: 20px 0;
    width: 300px;
    height: 400px;
    background: white;
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: 1s;
    box-shadow: inset 300px 0 50px rgba(0, 0, 0, .5);
}

.flip-hover-card-demo .container .card:hover {
    transform: perspective(2000px) rotate(-10deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, .5);
    z-index: 100;
}

.flip-hover-card-demo .container .card .imgBox {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    box-sizing: border-box;
    transform-origin: left;
    z-index: 1;
    transition: 1s;
}

.flip-hover-card-demo .container .card:hover .imgBox {
    transform: rotateY(-135deg)
}

.flip-hover-card-demo .container .card .imgBox img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-hover-card-demo .container .card .details {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
}

/* Icon Growth Card Demo */
.icon-growth-card-demo {
    min-height: 100vh;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inconsolata', monospace;
}

.icon-growth-card-demo .container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.icon-growth-card-demo .container .card {
    position: relative;
}

.icon-growth-card-demo .container .card .face {
    width: 300px;
    height: 200px;
    transition: .5s;
}

.icon-growth-card-demo .container .card .face.face1 {
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.icon-growth-card-demo .container .card:hover .face.face1 {
    background: #ff0057;
    transform: translateY(0);
}

.icon-growth-card-demo .container .card .face.face1 .content {
    opacity: .2;
    transition: .5s;
}

.icon-growth-card-demo .container .card:hover .face.face1 .content {
    opacity: 1;
}

.icon-growth-card-demo .container .card .face.face1 .content svg {
    width: 100px !important;
    height: 100px !important;
}

.icon-growth-card-demo .container .card .face.face1 .content h3 {
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.icon-growth-card-demo .container .card .face.face2 {
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .8);
    transform: translateY(-100px);
}

.icon-growth-card-demo .container .card:hover .face.face2 {
    transform: translateY(0);
}

.icon-growth-card-demo .container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
}

.icon-growth-card-demo .container .card .face.face2 .content a {
    margin: 15px 0 0;
    padding: 5px;
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #333;
    border: 1px solid #333;
}

.icon-growth-card-demo .container .card .face.face2 .content a:hover {
    background: #333;
    color: #fff;
}

/* Circle Growth Icon Card */
.circle-growth-icon-card-demo {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

.circle-growth-icon-card-demo .container {
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.circle-growth-icon-card-demo .container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-growth-icon-card-demo .container .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    z-index: 20;
    pointer-events: none;
}

.circle-growth-icon-card-demo .container .card:nth-child(1), 
.circle-growth-icon-card-demo .container .card:nth-child(1) .overlay {
    background: linear-gradient(45deg, #3503ad, #f7308c);
}

.circle-growth-icon-card-demo .container .card:nth-child(2), 
.circle-growth-icon-card-demo .container .card:nth-child(2) .overlay {
    background: linear-gradient(45deg, #ccff00, #09afff);
}

.circle-growth-icon-card-demo .container .card:nth-child(3), 
.circle-growth-icon-card-demo .container .card:nth-child(3) .overlay {
    background: linear-gradient(45deg, #e91e63, #ffeb3b);
}

.circle-growth-icon-card-demo .container .card .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.circle-growth-icon-card-demo .container .card .imgBx svg {
    width: 100px;
    height: 100px;
}

.circle-growth-icon-card-demo .container .card .imgBx h2{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.circle-growth-icon-card-demo .container .card .overlay {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    /* background: white; */
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    border-radius: 50%;
    transition: .5s;
}

.circle-growth-icon-card-demo .container .card .overlay:hover {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    opacity: .9;
    border-radius: 0;
}

.circle-growth-icon-card-demo .container .card .overlay:before {
    content: "Read";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: .5s;
}

.circle-growth-icon-card-demo .container .card .overlay:hover:before {
    display: none;
    transition-delay: 0s;
}

.circle-growth-icon-card-demo .container .card .content {
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: 0s;
    color: white;
}

.circle-growth-icon-card-demo .container .card .overlay:hover ~ .content {
    opacity: 1;
    visibility: visible;
    transition: .2s;
    transition-delay: .3s;
}

/* Hover Switch Card Demo */

.hover-switch-card-demo {
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(70, 70, 70);
}

.hover-switch-card-demo .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.hover-switch-card-demo .container .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 50px 100px;
}

.hover-switch-card-demo .container .card .face {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);

}

.hover-switch-card-demo .container .card .face.face1 {
    top: 0;
    left: 0;
    transition-property: left, z-index, transform;
    transition-delay: 0s, .3s, .3s;
    transition-duration: .3s, 0s, .3s;
    z-index: 2;
    transform: translate(-10px, -10px);
    border-radius: 15px;
}

.hover-switch-card-demo .container .card:hover .face.face1 {
    transition-property: transform, z-index, left;
    transition-delay: 0s, .3s, .3s;
    transition-duration: .3s, 0s, .3s;
    transform: translate(170px, -10px);
    z-index: 1;
    left: -160px;
}

.hover-switch-card-demo .container .card .face.face1 img {
    max-width: 100%;
}

.hover-switch-card-demo .container .card .face.face2 {
    background: #111;
    top: 0;
    left: 0;
    transition-property: left, z-index, transform;
    transition-delay: 0s, .3s, .3s;
    transition-duration: .3s, 0s, .3s;
    z-index: 1;
    border-radius: 15px;
}

.hover-switch-card-demo .container .card:hover .face.face2 {
    transition-property: transform, z-index, left;
    transition-delay: 0s, .3s, .3s;
    transition-duration: .3s, 0s, .3s;
    transform: translateX(-160px);
    z-index: 2;
    left: 160px;
}


.hover-switch-card-demo .container .card .face.face2 .content {
    padding: 20px;
    box-sizing: border-box;
}

.hover-switch-card-demo .container .card .face.face2 .content h2 {
    margin: 0;
    padding: 0;
    color: white;
}

.hover-switch-card-demo .container .card .face.face2 .content p {
    margin: 10px 0 0;
    padding: 0;
    color: white;
}

/* Neumorphism Card Demo */
.neumorphism-card-demo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ebf5fc;
}

.neumorphism-card-demo .container {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 1100px;
}

.neumorphism-card-demo .container .card {
    width: 320px;
    margin: 20px;
    padding: 40px 30px;
    background: #ebf5fc;
    border-radius: 40px;
    box-shadow: -6px -6px 20px rgba(255, 255, 255, 1),
                6px 6px 20px rgba(0, 0, 0, .1);
}

.neumorphism-card-demo .container .card:hover {
    box-shadow: inset -6px -6px 10px rgba(255, 255, 255, .5),
                inset 6px 6px 20px rgba(0, 0, 0, .05);
}

.neumorphism-card-demo .container .card .imgBx {
    position: relative;
    text-align: center;
}

.neumorphism-card-demo .container .card .imgBx svg {
    width: 120px;
    height: 120px;
    color: #32a3b1;
}

.neumorphism-card-demo .container .card .contentBx {
    position: relative;
    margin-top: 20px;
    text-align: center;
}

.neumorphism-card-demo .container .card .contentBx h2 {
    color: #32a3b1;
    font-weight: 700;
    font-size: 1.4em;
    letter-spacing: 2px;
}

.neumorphism-card-demo .container .card .contentBx p {
    color: #32a3b1;
}

.neumorphism-card-demo .container .card .contentBx a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 40px;
    color: #32a3b1;
    font-size: 16px;
    text-decoration: none;
    box-shadow: -4px -4px 15px rgba(255, 255, 255, 1),
                4px 4px 15px rgba(0, 0, 0, .1);
}

.neumorphism-card-demo .container .card .contentBx a:hover {
    box-shadow: inset -4px -4px 10px rgba(255, 255, 255, .5),
                inset 4px 4px 10px rgba(0, 0, 0, .1);
}

.neumorphism-card-demo .container .card a:hover span {
    display: block;
    transform: scale(.98);
}

.neumorphism-card-demo .container .card:hover .imgBx,
.neumorphism-card-demo .container .card:hover .contentBx {
    transform: scale(.98);
}

/* Image Slide Left Card Demo */
.image-slide-left-card-demo {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #222;
}

.image-slide-left-card-demo .container {
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px;
}

.image-slide-left-card-demo .container .card {
    position: relative;
    height: 250px;
    background: white;
    display: flex;
    width: 45%;
    margin: 30px 0;
}

.image-slide-left-card-demo .container .card .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .5s ease-in-out;
}

.image-slide-left-card-demo .container .card:hover .imgBx {
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: .5s ease-in-out;
    background: #ff0057;
}

.image-slide-left-card-demo .container .card .imgBx:before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: rgba(255, 255, 255, .05);
    font-weight: 700;
}

.image-slide-left-card-demo .container .card .imgBx svg {
    color: white;
    height: 65%;
    width: 65%;
    transition: .5s ease-in-out;
}

.image-slide-left-card-demo .container .card:hover .imgBx svg {
    height: 55%;
    width: 55%;
}

.image-slide-left-card-demo .container .card .content {
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-slide-left-card-demo .container .card .content h3 {
    margin-bottom: 5px;
    font-size: 24px;
}

.image-slide-left-card-demo .container .card .content a {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: white;
}

@media (max-width: 992px) {
    .image-slide-left-card-demo .container {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .image-slide-left-card-demo .container .card {
        width: 400px;
    }
}

@media (max-width: 768px) {
    .image-slide-left-card-demo .container .card {
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }

    .image-slide-left-card-demo .container .card .imgBx {
        position: relative;
    }

    .image-slide-left-card-demo .container .card .imgBx,
    .image-slide-left-card-demo .container .card:hover .imgBx {
        width: 100%;
        height: 200px;
        left: 0;
        top: 0;
    }

    .image-slide-left-card-demo .container .card .imgBx svg,
    .image-slide-left-card-demo .container .card:hover .imgBx svg {
        max-width: 100px;
    }

    .image-slide-left-card-demo .container .card .content {
        position: relative;
        width: 100%;
    }
}

/* Circle Growth Service Card Demo */
.circle-growth-service-card-demo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
}

.circle-growth-service-card-demo .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.circle-growth-service-card-demo .container .box {
    position: relative;
    width: 350px;
    padding: 40px;
    background: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}

.circle-growth-service-card-demo .container .box:before {
    content: "";
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, .2);
    pointer-events: none;
    z-index: 2;
}

.circle-growth-service-card-demo .container .box .icon {
    position: relative;
    width: 80px;
    height: 80px;
    color: white;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    font-size: 40px;
    font-weight: 700;
    transition: 1s;
}

.circle-growth-service-card-demo .container .box:nth-child(1) .icon {
    box-shadow: 0 0 0 0 #e91e63;
    background: #e91e63;
}

.circle-growth-service-card-demo .container .box:nth-child(1):hover .icon {
    box-shadow: 0 0 0 400px #e91e63;
}

.circle-growth-service-card-demo .container .box:nth-child(2) .icon {
    box-shadow: 0 0 0 0 #23e629;
    background: #23e629;
}

.circle-growth-service-card-demo .container .box:nth-child(2):hover .icon {
    box-shadow: 0 0 0 400px #23e629;
}

.circle-growth-service-card-demo .container .box:nth-child(3) .icon {
    box-shadow: 0 0 0 0 #2196f3;
    background: #2196f3;
}

.circle-growth-service-card-demo .container .box:nth-child(3):hover .icon {
    box-shadow: 0 0 0 400px #2196f3;
}

.circle-growth-service-card-demo .container .box .content {
    position: relative;
    z-index: 1;
    transition: .5s;
}

.circle-growth-service-card-demo .container .box:hover .content {
    color: white;
}

.circle-growth-service-card-demo .container .box .content h3 {
    font-size: 20px;
    margin: 10px 0;
    padding: 0;
}

.circle-growth-service-card-demo .container .box .content p {
    margin: 0;
    padding: 0;
}

.circle-growth-service-card-demo .container .box .content a {
    display: inline-block;
    padding: 10px 20px;
    background: white;
    border-radius: 4px;
    text-decoration: none;
    color: black;
    font-weight: 500;
    margin-top: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

/* Isometric Card Hover Demo */
.isometric-hover-cards {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    width: 100%;
    background: #f3f3f3;
    overflow: hidden;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 10px;
}

.isometric-hover-cards .container {
    position: relative;
    width: 100%;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transform: skewY(-10deg);
}

.isometric-hover-cards .container .card {
    position: relative;
    width: 300px;
    height: 400px;
    background: white;    
    transition: .5s;
    margin: 40px;
}

.isometric-hover-cards .container .card:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    width: 100%;
    height: 15px;
    background: #00c0f6;  
    transform-origin: bottom;
    transform: skewX(45deg);  
    transition: .5s;
}

.isometric-hover-cards .container .card:after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    width: 15px;
    height: 50%;
    background: #00c0f6;  
    transform-origin: left;
    transform: skewY(45deg);  
    transition: .5s;
    border-bottom: 200px solid #d9d9d9;
}

.isometric-hover-cards .container .card:hover {
    transform: translateY(-40px);
}

.isometric-hover-cards .container .card .imgBx {
    position: relative;
    width: 300px;
    height: 200px;
    background: #00c7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.isometric-hover-cards .container .card .imgBx svg {
    width: 100px;
    height: 100px;
    color: white;
}

.isometric-hover-cards .container .card .imgBx h3 {
    position: relative;
    color: white;
    margin-top: 10px;
}

.isometric-hover-cards .container .card .content {
    position: relative;
    width: 100%;
    height: 200px;
    padding: 20px;
    color: #777;
    background: white;
    text-align: center;
}

.isometric-hover-cards .container .card .content:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(transparent, transparent, rgba(0, 0, 0, .1));
    transform-origin: bottom;
    transform: skewX(45deg);
    transition: .5s;
    pointer-events: none;
    z-index: -1;
}

.isometric-hover-cards .container .card:hover .content:before {
    transform: translateY(40px) skewX(45deg);
    filter: blur(5px);
    opacity: .5;
}

.isometric-hover-cards .container .card:nth-child(1) {
    z-index: 3;
}

.isometric-hover-cards .container .card:nth-child(2) {
    z-index: 2;
}

.isometric-hover-cards .container .card:nth-child(3) {
    z-index: 1;
}

/* Flip Up Card Hover Demo */
.flip-up-hover-cards {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh;
    width: 100%;
    background: #f3f3f3;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 10px;
}

.flip-up-hover-cards.light {
    background: #f3f3f3;
}

.flip-up-hover-cards.dark {
    background: #131313;
}

.flip-up-hover-cards .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    transform-style: preserve-3d;
}

.flip-up-hover-cards .container .box {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 20px 0;
    perspective: 1000px;
    overflow: hidden;
    transform-style: preserve-3d;
}

.flip-up-hover-cards .container .box .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top;
    transform-style: preserve-3d;
    transition: .5s;
    transition-delay: .2s;
}

.flip-up-hover-cards .container .box:hover .imgBx {
    transform: rotateX(-90deg);
    opacity: 0;
    transition-delay: 0s;
}

.flip-up-hover-cards .container .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flip-up-hover-cards .container .box .contentBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transform-origin: bottom;
    transform-style: preserve-3d;
    transition: .5s;
    transform: rotateX(90deg);
    opacity: 0;
    color: white;
}

.flip-up-hover-cards.light .container .box .contentBx {
    background: #333;
    color: white;
}

.flip-up-hover-cards.dark .container .box .contentBx {
    background: rgb(213, 213, 213);
    color: black;
}

.flip-up-hover-cards .container .box:hover .contentBx {
    transform: rotateX(0deg);
    opacity: 1;
    transition-delay: .2s;
}

/* Swivel Rotation Card Demo */
.swivel-rotation-cards {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    width: 100%;
    min-height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #555;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 10px;
}

.swivel-rotation-cards .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.swivel-rotation-cards .container .card {
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
}

.swivel-rotation-cards .container .card .face {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    backface-visibility: hidden;
    transition: 1.5s ease-in-out;
    transform: perspective(500px) rotateY(0deg);
}

.swivel-rotation-cards .container .card .face.front {
    background: white;
    color: black;
}

.swivel-rotation-cards .container .card:hover .face.front {
    transform: perspective(500px) rotateY(180deg);
}

.swivel-rotation-cards .container .card .face.back {
    background: black;
    color: #fff;
    transform: perspective(500px) rotateY(180deg);
}

.swivel-rotation-cards .container .card:hover .face.back {
    transform: perspective(500px) rotateY(360deg);
}

.swivel-rotation-cards .container .card .face h2 {
    font-size: 2em;
    text-transform: uppercase;
    transform: perspective(500px) translateZ(50px);
}

.swivel-rotation-cards .container .card .face svg {
    width: 60%;
    height: 60%;
    transform: perspective(500px) translateZ(50px);
}

.swivel-rotation-cards .container .card .face.back p {
    padding: 0 40px;
    font-size: .7em;
    transform: perspective(500px) translateZ(50px);
}

.swivel-rotation-cards .container .card .face.back a {
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    outline: none;
    border: 1px solid white;
    font-size: .8em;
    transform: perspective(500px) translateZ(50px);
    color: white;
    background: transparent;
}

.swivel-rotation-cards .container .card .face.back a:hover {
    /* transform: perspective(500px) translateZ(50px) scale(1.1); */
    border: 1px solid rgb(205, 205, 205);
    color: rgb(205, 205, 205);
}

/*  Circle Reduction Service Cards */
.circle-reduction-service-cards {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00d0ff;
    width: 100%;
    min-height: 95vh;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 10px;
}

.circle-reduction-service-cards .container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

.circle-reduction-service-cards .container .card {
    position: relative;
    width: 300px;
    height: 400px;
    margin: 0 auto;
    background: #fff;
    transition: .5s;
}

.circle-reduction-service-cards .container .card:hover {
    box-shadow: 0 30px 50px rgba(0, 0, 0, .2);
}

.circle-reduction-service-cards .container .card .face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-reduction-service-cards .container .card .face.face1 {
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    background: white;
    color: #013d4a;
}

.circle-reduction-service-cards .container .card .face.face1 h2 {
    margin-top: 70px;
}

.circle-reduction-service-cards .container .card .face.face1 a {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 20px;
    text-decoration: none;
    color: #013d4a;
    border: 2px solid #013d4a;
}

.circle-reduction-service-cards .container .card .face.face1 a:hover {
    color: white;
    background: #013d4a;
}

.circle-reduction-service-cards .container .card .face.face2 {
    background: #013d4a;
    transition: .5s;
}

.circle-reduction-service-cards .container .card:hover .face.face2 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: 2px solid #013d4a;
}

.circle-reduction-service-cards .container .card .face.face2 h2 {
    margin: 0;
    padding: 0;
    font-size: 10em;
    color: white;
    transition: .5s;
}

.circle-reduction-service-cards .container .card:hover .face.face2 h2 {
    font-size: 2em;
    color: #013d4a;
}

/* Game Style Cards Demo */
.game-style-cards {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background: #262626;
    width: 100%;
    height: 95vh;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 10px;
}

.game-style-cards.dark {
    background: #262626;
}

.game-style-cards.light {
    background: #e1e1e1;
}

.game-style-cards .box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 450px;
}

.game-style-cards .box .card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .5);
    transition: .5s;
    transform-origin: bottom;
    border-radius: 10px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-style-cards .box .card:nth-child(1) {
    transform: translate(0px, 0px);
}

.game-style-cards .box .card:nth-child(2) {
    transform: translate(2px, 2px);
}

.game-style-cards .box .card:nth-child(3) {
    transform: translate(4px, 4px);
}

.game-style-cards .box .card:nth-child(4) {
    transform: translate(6px, 6px);
}

.game-style-cards .box .card:nth-child(5) {
    transform: translate(8px, 8px);
}

.game-style-cards .box .card:nth-child(6) {
    transform: translate(10px, 10px);
}

.game-style-cards .box .card:nth-child(7) {
    transform: translate(12px, 12px);
}

.game-style-cards .box:hover .card:nth-child(1) {
    transform: rotate(-45deg) translate(0px, 0px);
}

.game-style-cards .box:hover .card:nth-child(2) {
    transform: rotate(-30deg) translate(2px, 2px);
}

.game-style-cards .box:hover .card:nth-child(3) {
    transform: rotate(-15deg) translate(4px, 4px);
}

.game-style-cards .box:hover .card:nth-child(4) {
    transform: rotate(-0deg) translate(6px, 6px);
}

.game-style-cards .box:hover .card:nth-child(5) {
    transform: rotate(15deg) translate(8px, 8px);
}

.game-style-cards .box:hover .card:nth-child(6) {
    transform: rotate(30deg) translate(10px, 10px);
}

.game-style-cards .box:hover .card:nth-child(7) {
    transform: rotate(45deg) translate(12px, 12px);
}

.game-style-cards .box .card:hover {
    z-index: 1;
    box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
}

.game-style-cards .box .card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 255, 255, .1);
    z-index: 20;
    pointer-events: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.game-style-cards .box .card:nth-child(1), 
.game-style-cards .box .card:nth-child(1) .overlay {
    background: linear-gradient(45deg, #ffb08e, #f54a00);
}

.game-style-cards .box .card:nth-child(2), 
.game-style-cards .box .card:nth-child(2) .overlay {
    background: linear-gradient(45deg, #96c0ff, #0046de);
}

.game-style-cards .box .card:nth-child(3), 
.game-style-cards .box .card:nth-child(3) .overlay {
    background: linear-gradient(45deg, #8f8f8f, #ffe600);
}

.game-style-cards .box .card:nth-child(4), 
.game-style-cards .box .card:nth-child(4) .overlay {
    background: linear-gradient(45deg, #303030, #02dceb);
}

.game-style-cards .box .card:nth-child(5), 
.game-style-cards .box .card:nth-child(5) .overlay {
    background: linear-gradient(45deg, #f4582c, #d30000);
}

.game-style-cards .box .card:nth-child(6), 
.game-style-cards .box .card:nth-child(6) .overlay {
    background: linear-gradient(45deg, #daffb0, #006fd0);
}

.game-style-cards .box .card:nth-child(7), 
.game-style-cards .box .card:nth-child(7) .overlay {
    background: linear-gradient(45deg, #04ed00, #f4f4f4);
}

.game-style-cards .box .card .imgBx {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.game-style-cards .box .card .imgBx svg {
    width: 100px;
    height: 100px;
}

.game-style-cards .box .card .imgBx h2{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.game-style-cards .box .card .overlay {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    border-radius: 50%;
    transition: .5s;
}

.game-style-cards .box .card .overlay:hover {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    opacity: .9;
    border-radius: 0;
}

.game-style-cards .box .card .overlay:before {
    content: "Read";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: .5s;
}

.game-style-cards .box .card .overlay:hover:before {
    display: none;
    transition-delay: 0s;
}

.game-style-cards .box .card .content {
    padding: 20px;
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: 0s;
    color: white;
}

.game-style-cards .box .card .overlay:hover ~ .content {
    opacity: 1;
    visibility: visible;
    transition: .2s;
    transition-delay: .3s;
}

/* Direction Aware Card Demo */
.direction-aware-cards {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 95vh;
    background: linear-gradient(0deg, #075b9f 0%, #0b74cb 10%, #0b74cb 50%, rgb(215, 215, 215) 50%, rgb(215, 215, 215) 100%);
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 10px;
}

.direction-aware-cards.light {
    background: linear-gradient(0deg, #075b9f 0%, #0b74cb 10%, #0b74cb 50%, rgb(235, 235, 235) 50%, rgb(235, 235, 235) 100%);
}

.direction-aware-cards.dark {
    background: linear-gradient(0deg, #075b9f 0%, #0b74cb 10%, #0b74cb 50%, rgb(20, 20, 20) 50%, rgb(20, 20, 20) 100%);
}

.direction-aware-cards .container {
    max-width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
}

.direction-aware-cards .container .card {
    position: relative;
    width: 180px;
    height: 240px;
    background: white;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    transition: .5s;
    overflow: hidden;
    transform-style: preserve-3d;
}

.direction-aware-cards.light .container .card {
    background: white;
}

.direction-aware-cards.dark .container .card {
    background: black;
}

.direction-aware-cards .container:hover .card {
    transform: perspective(500px) rotateY(30deg)
}

.direction-aware-cards .container .card:hover {
    transform: perspective(500px) rotateY(0deg)
}
.direction-aware-cards .container .card:hover ~ .card {
    transform: perspective(500px) rotateY(-30deg)
}

.direction-aware-cards .container .card h2 {
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 3em;
    background: #2196f3;
    color: white;
    text-align: center;
    border-radius: 50%;
    transition: box-shadow .5s;
}

.direction-aware-cards.light .container .card h2 {
    color: white;
}

.direction-aware-cards.dark .container .card h2 {
    color: black;
}

.direction-aware-cards .container .card:hover h2 {
    background: white;
    color: #2196f3;
    box-shadow: 0 0 0 150px #2196f3;
}

.direction-aware-cards.light .container .card:hover h2 {
    background: white;
}

.direction-aware-cards.dark .container .card:hover h2 {
    background: black;
}

/* Depth of Field Card Demo */
.depth-of-field-cards {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 95vh;
    background: linear-gradient(0deg, white 50%, #2196f3);
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 10px;
}

.depth-of-field-cards.light {
    background: linear-gradient(0deg, white 50%, #2196f3);
}

.depth-of-field-cards.dark {
    background: linear-gradient(0deg, black 50%, #2196f3);
}

.depth-of-field-cards .container {
    max-width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: .5s;
}

.depth-of-field-cards .container .card {
    position: relative;
    width: 250px;
    height: 300px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.depth-of-field-cards.light .container .card {
    background: white;
    color: black;
}

.depth-of-field-cards.dark .container .card {
    background: black;
    color: white;
}

.depth-of-field-cards .container:hover .card {
    filter: blur(5px);
    transform: scale(.7)
}

.depth-of-field-cards .container .card:hover {
    filter: blur(0px);
    transform: scale(1)
}

.depth-of-field-cards .container .card:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1;
    transition: .5s;
}

.depth-of-field-cards.light .container .card:before {
    background: white;
}

.depth-of-field-cards.dark .container .card:before {
    background: black;
}

.depth-of-field-cards .container .card:hover:before {
    background: black;
    transform: scaleY(1.15);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

.depth-of-field-cards.light .container .card:hover:before {
    background: black;
}

.depth-of-field-cards.dark .container .card:hover:before {
    background: white;
}

.depth-of-field-cards .container .card .content {
    text-align: center;
    z-index: 2;
    padding: 0 20px;
    transition: .5s;
}

.depth-of-field-cards .container .card:hover .content {
    color: white;
}

.depth-of-field-cards.light .container .card:hover .content {
    color: white;
}

.depth-of-field-cards.dark .container .card:hover .content {
    color: black;
}

.depth-of-field-cards.dark .container .card:hover .content a {
    color: white;
}

.depth-of-field-cards .container .card .content h2 {
    font-size: 3em;
}

.depth-of-field-cards .container .card .content p {
    font-size: .9em;
}

.depth-of-field-cards .container .card .content a {
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    background: #262626;
    color: white;
    text-decoration: none;
}

.depth-of-field-cards.light .container .card .content a {
    background: #262626;
    color: white;
}

.depth-of-field-cards.dark .container .card .content a {
    background: #e3e3e3;
    color: black;
}

.depth-of-field-cards .container .card:hover .content a {
    background: #2196f3;
}

/* Image Clip Hover Card Demo */
.image-clip-hover-cards {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #262626;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 10px;
}

.image-clip-hover-cards.dark {
    background: #262626;
}

.image-clip-hover-cards.light {
    background: white;
}

.image-clip-hover-cards .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 20px;
}

.image-clip-hover-cards .container .box {
    position: relative;
    width: 400px;
    height: 400px;
    background: white;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.image-clip-hover-cards .container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    align-items: center;
    color: black;
    padding: 20px;
    font-family: "Poppins", sans-serif;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 20px 50px inset;
}

.image-clip-hover-cards .container .box .content h2,
.image-clip-hover-cards .container .box .content p {
    margin-bottom: 25px;
}

.image-clip-hover-cards .container .box .content a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    border: 1px solid white;
    text-decoration: none;
    color: black;
    transition: .5s;
}

.image-clip-hover-cards .container .box .content a:hover {
    background: black;
    color: white;
}

.image-clip-hover-cards .container .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    transition: 1s;
}

.image-clip-hover-cards .container .box:hover img {
    -webkit-clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 0 0, 0% 100%);
}

.image-clip-hover-cards .container .box:nth-child(even):hover img {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
}
