/* Targeted Hover Navbar Demo */
.targeted-hover-navbars {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;
    background: rgb(235, 235, 235);
    box-shadow: inset rgba(0, 0, 0, 0.7) 0px 5px 45px;
}

.targeted-hover-navbars.light {
    background: rgb(235, 235, 235);
    border: 1px solid rgba(235, 235, 235, 0.5);
    box-shadow: inset rgba(0, 0, 0, 0.7) 0px 5px 45px;
}

.targeted-hover-navbars.dark {
    background: rgb(50, 50, 50);
    border: 1px solid black;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 45px;
}

.targeted-hover-navbars .targeted-hover-navbar {
    position: relative;
    font-family: sans-serif;
    display: flex;
    margin: 25px 0;
    padding: 0;
}

.targeted-hover-navbars .targeted-hover-navbar li {
    list-style: none;
}

.targeted-hover-navbars .targeted-hover-navbar li a {
    position: relative;
    display: block;
    text-align: center;
    margin: 0 20px;
    color: #262626;
    font-size: 18px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    padding: 5px 10px;
}

.targeted-hover-navbars .targeted-hover-navbar.light li a {
    color: #262626;
}

.targeted-hover-navbars .targeted-hover-navbar.dark li a {
    color: #d9d9d9;
}

.targeted-hover-navbars .targeted-hover-navbar li a:hover {
    color: white;
    background: #e91e63;
}

.targeted-hover-navbars .targeted-hover-navbar li a:before {
    content: "";
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 0 0 3px 3px;
    transition: .5s;
    opacity: 0;
}

.targeted-hover-navbars .targeted-hover-navbar li a:hover:before {
    bottom: -12px;
    left: -12px;
    opacity: 1;
}

.targeted-hover-navbars .targeted-hover-navbar li a:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 12px;
    width: 12px;
    height: 12px;
    border: 3px solid #e91e63;
    border-width: 3px 3px 0 0;
    transition: .5s;
    opacity: 0;
}

.targeted-hover-navbars .targeted-hover-navbar li a:hover:after {
    top: -12px;
    right: -12px;
    opacity: 1;
}

.targeted-hover-navbars .targeted-hover-navbar.bd-nm li a:before {
    border-width: 0 0 3px 3px;
}

.targeted-hover-navbars .targeted-hover-navbar.bd-nm li a:after {
    border-width: 3px 3px 0 0;
}

.targeted-hover-navbars .targeted-hover-navbar.bd-thin li a:before {
    border-width: 0 0 1px 1px;
}

.targeted-hover-navbars .targeted-hover-navbar.bd-thin li a:after {
    border-width: 1px 1px 0 0;
}

.targeted-hover-navbars .targeted-hover-navbar.bd-thicc li a:before {
    border-width: 0 0 5px 5px;
}

.targeted-hover-navbars .targeted-hover-navbar.bd-thicc li a:after {
    border-width: 5px 5px 0 0;
}

.targeted-hover-navbars .targeted-hover-navbar.blue li a:hover {
    background: #2020e9;
}

.targeted-hover-navbars .targeted-hover-navbar.blue li a:before,
.targeted-hover-navbars .targeted-hover-navbar.blue li a:after {
    border-color: #2020e9;
}

.targeted-hover-navbars .targeted-hover-navbar.mint li a:hover {
    background: #20e985;
}

.targeted-hover-navbars .targeted-hover-navbar.mint li a:before,
.targeted-hover-navbars .targeted-hover-navbar.mint li a:after {
    border-color: #20e985;
}

.targeted-hover-navbars .targeted-hover-navbar.lightgreen li a:hover {
    background: #85e920;
}

.targeted-hover-navbars .targeted-hover-navbar.lightgreen li a:before,
.targeted-hover-navbars .targeted-hover-navbar.lightgreen li a:after {
    border-color: #85e920;
}

.targeted-hover-navbars .targeted-hover-navbar.green li a:hover {
    background: #20e920;
}

.targeted-hover-navbars .targeted-hover-navbar.green li a:before,
.targeted-hover-navbars .targeted-hover-navbar.green li a:after {
    border-color: #20e920;
}

.targeted-hover-navbars .targeted-hover-navbar.purple li a:hover {
    background: #8520e9;
}

.targeted-hover-navbars .targeted-hover-navbar.purple li a:before,
.targeted-hover-navbars .targeted-hover-navbar.purple li a:after {
    border-color: #8520e9;
}

.targeted-hover-navbars .targeted-hover-navbar.pink li a:hover {
    background: #f1749e;
}

.targeted-hover-navbars .targeted-hover-navbar.pink li a:before,
.targeted-hover-navbars .targeted-hover-navbar.pink li a:after {
    border-color: #f1749e;
}

.targeted-hover-navbars .targeted-hover-navbar.hotpink li a:hover {
    background: #e91e63;
}

.targeted-hover-navbars .targeted-hover-navbar.hotpink li a:before,
.targeted-hover-navbars .targeted-hover-navbar.hotpink li a:after {
    border-color: #e91e63;
}

.targeted-hover-navbars .targeted-hover-navbar.red li a:hover {
    background: #e92020;
}

.targeted-hover-navbars .targeted-hover-navbar.red li a:before,
.targeted-hover-navbars .targeted-hover-navbar.red li a:after {
    border-color: #e92020;
}

.targeted-hover-navbars .targeted-hover-navbar.redorange li a:hover {
    background: #e95220;
}

.targeted-hover-navbars .targeted-hover-navbar.redorange li a:before,
.targeted-hover-navbars .targeted-hover-navbar.redorange li a:after {
    border-color: #e95220;
}

.targeted-hover-navbars .targeted-hover-navbar.orange li a:hover {
    background: #e98520;
}

.targeted-hover-navbars .targeted-hover-navbar.orange li a:before,
.targeted-hover-navbars .targeted-hover-navbar.orange li a:after {
    border-color: #e98520;
}

.targeted-hover-navbars .targeted-hover-navbar.yellow li a:hover {
    background: #e9e920;
}

.targeted-hover-navbars .targeted-hover-navbar.yellow li a:before,
.targeted-hover-navbars .targeted-hover-navbar.yellow li a:after {
    border-color: #e9e920;
}

.targeted-hover-navbars .targeted-hover-navbar.white li a:hover {
    color: #262626;
    background: #ffffff;
}

.targeted-hover-navbars .targeted-hover-navbar.white li a:before,
.targeted-hover-navbars .targeted-hover-navbar.white li a:after {
    border-color: #ffffff;
}

.targeted-hover-navbars .targeted-hover-navbar.black li a:hover {
    background: #000000;
}

.targeted-hover-navbars .targeted-hover-navbar.black li a:before,
.targeted-hover-navbars .targeted-hover-navbar.black li a:after {
    border-color: #000000;
}