/* Swivel Rotation Card Demo */
.swivel-rotation-cards {
    margin: 0;
    padding: 25px;
    font-family: "Poppins", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #555;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 10px;
}

.swivel-rotation-cards .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.swivel-rotation-cards .container .card {
    position: relative;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
}

.swivel-rotation-cards .container .card .face {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    backface-visibility: hidden;
    transition: 1.5s ease-in-out;
    transform: perspective(500px) rotateY(0deg);
}

.swivel-rotation-cards .container .card .face.front {
    background: white;
    color: black;
}

.swivel-rotation-cards .container .card:hover .face.front {
    transform: perspective(500px) rotateY(180deg);
}

.swivel-rotation-cards .container .card .face.back {
    background: black;
    color: #fff;
    transform: perspective(500px) rotateY(180deg);
}

.swivel-rotation-cards .container .card:hover .face.back {
    transform: perspective(500px) rotateY(360deg);
}

.swivel-rotation-cards .container .card .face h2 {
    font-size: 2em;
    text-transform: uppercase;
    transform: perspective(500px) translateZ(50px);
}

.swivel-rotation-cards .container .card .face svg {
    width: 60%;
    height: 60%;
    transform: perspective(500px) translateZ(50px);
}

.swivel-rotation-cards .container .card .face.back p {
    padding: 0 40px;
    font-size: .7em;
    transform: perspective(500px) translateZ(50px);
}

.swivel-rotation-cards .container .card .face.back a {
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    outline: none;
    border: 1px solid white;
    font-size: .8em;
    transform: perspective(500px) translateZ(50px);
    color: white;
    background: transparent;
}

.swivel-rotation-cards .container .card .face.back a:hover {
    /* transform: perspective(500px) translateZ(50px) scale(1.1); */
    border: 1px solid rgb(205, 205, 205);
    color: rgb(205, 205, 205);
}