.colorful-hover-quote-box-demo {
    position: relative;
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.colorful-hover-quote-box-demo .quote {
    width: 1200px;
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 2;
}

.colorful-hover-quote-box-demo .quote .box {
    position: relative;
    width: 360px;
    height: 400px;
    grid-row-end: 400px;
    background: white;
    overflow: hidden;
    transition: .5s;
    z-index: 2;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: -10px 25px 50px rgba(0, 0, 0, .2);
}

.colorful-hover-quote-box-demo .quote .box:hover {
    box-shadow: -20px 50px 100px rgba(0, 0, 0, .5);
}

.colorful-hover-quote-box-demo .quote .box p {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.colorful-hover-quote-box-demo .quote .box:hover p {
    color: white;
}

.colorful-hover-quote-box-demo .quote .box h2 {
    position: absolute;
    bottom: 30px;
    right: 30px;
    margin: 0;
    padding: 0;
    font-size: 20px;
    text-transform: uppercase;
}

.colorful-hover-quote-box-demo .quote .box:hover h2 {
    color: white;
}

.colorful-hover-quote-box-demo .quote .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: .5s;
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.colorful-hover-quote-box-demo .quote .box1:hover ~ .bg,
.colorful-hover-quote-box-demo .quote .box1:hover {
    opacity: 1;
    background: linear-gradient(#03A9F4, #E91E63)
}

.colorful-hover-quote-box-demo .quote .box2:hover ~ .bg,
.colorful-hover-quote-box-demo .quote .box2:hover {
    opacity: 1;
    background: linear-gradient(#FFC107, #19fd36)
}

.colorful-hover-quote-box-demo .quote .box3:hover ~ .bg,
.colorful-hover-quote-box-demo .quote .box3:hover {
    opacity: 1;
    background: linear-gradient(#FFC107, #E91E63)
}

.colorful-hover-quote-box-demo .quote .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .2);
    pointer-events: none;
}

.colorful-hover-quote-box-demo .quote .box:after {
    content: url("../../img/quote.svg");
    position: absolute;
    width: 40%;
    height: 40%;
    bottom: 20%;
    right: 8%;
    opacity: .2;
    pointer-events: none;
    filter: invert(0);
}

.colorful-hover-quote-box-demo .quote .box:hover:after {
    filter: invert(1);
}

/*  */

.bottom-color-rise-testimonial-demo {
    width: 100%;
    height: 100vh;
    padding: 50px 0;
    font-family: sans-serif;
    background: #262626;
}

.bottom-color-rise-testimonial-demo .testimonials {
    margin: 100px auto 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
}

.bottom-color-rise-testimonial-demo .testimonials .card {
    position: relative;
    width: 350px;
    height: 300px;
    margin: 0 auto;
    background: #333;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 10px 40px rgba(0, 0, 0, .5);
    overflow: hidden;
}

.bottom-color-rise-testimonial-demo .testimonials .card .layer {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#03a9f4, #e91ee3);
    z-index: 1;
    transition: .5s;
}

.bottom-color-rise-testimonial-demo .testimonials .card:hover .layer {
    top: 0;
}

.bottom-color-rise-testimonial-demo .testimonials .card .content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-color-rise-testimonial-demo .testimonials .card .content p {
    font-size: 16px;
    line-height: 24px;
    color: white;
}

.bottom-color-rise-testimonial-demo .testimonials .card .content .image {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
}

.bottom-color-rise-testimonial-demo .testimonials .card .content .image img {
    width: 100px;
    height: 100px;
}

.bottom-color-rise-testimonial-demo .testimonials .card .content .details h2 {
    font-size: 18px;
    color: white;
}

.bottom-color-rise-testimonial-demo .testimonials .card .content .details h2 span {
    color: #03a9f4;
    font-size: 14px;
    transition: .5s;
}

.bottom-color-rise-testimonial-demo .testimonials .card:hover .content .details h2 span {
    color: white;
}

/*  */
.quote-movement-testimonial-demo {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f5f5f5;
    font-family: "Poppins", sans-serif;
}

.quote-movement-testimonial-demo .container {
    width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 20px;
    box-sizing: border-box;
    padding: 20px;
}

.quote-movement-testimonial-demo .container .box {
    position: relative;
    padding: 80px 40px 40px;
    transition: .5s;
    text-align: center;
    background: white;
}

.quote-movement-testimonial-demo .container .box:hover {
    background: #ff0057;
}

.quote-movement-testimonial-demo .container .box p {
    margin: 0;
    padding: 0;
    transition: .5s;
}

.quote-movement-testimonial-demo .container .box h4 {
    margin: 20px 0 0;
    padding: 0;
    transition: .5s;
    font-size: 18px;
    color: #ff0057;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
}

.quote-movement-testimonial-demo .container .box h4 span {
    font-weight: 600;
    font-size: 14px;
    color: #c5c5c5;
    transition: .5s;
}

.quote-movement-testimonial-demo .container .box:hover,
.quote-movement-testimonial-demo .container .box:hover h4,
.quote-movement-testimonial-demo .container .box:hover h4 span {
    color: white;
}

.quote-movement-testimonial-demo .container .box .imgBox {
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.quote-movement-testimonial-demo .container .box .imgBox img {
    width: 100%;
}

.quote-movement-testimonial-demo .container .box:before {
    content: "";
    position: absolute;
    top: 20px;
    right: 40px;
    width: 80px;
    height: 80px;
    background: url("../../img/quote.svg");
    background-size: cover;
    opacity: .05;
    pointer-events: none;
    transition: .5s;
}

.quote-movement-testimonial-demo .container .box:hover:before {
    transform: translateY(-60px);
    opacity: 1;
}

.quote-movement-testimonial-demo .container .box:after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 40px;
    width: 80px;
    height: 80px;
    background: url("../../img/quote.svg");
    background-size: cover;
    opacity: .05;
    pointer-events: none;
    transition: .5s;
    transform: rotate(180deg) translateY(0px);
}

.quote-movement-testimonial-demo .container .box:hover:after {
    transform: rotate(180deg) translateY(-60px);
    opacity: 1;
}

@media (max-width: 768px) {
    .quote-movement-testimonial-demo .container .box {
        margin-top: 80px;
    }
}
