/* Neon Reflective Button Demo */
.neon-reflective-buttons {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    width: 100%;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(50, 50, 50);
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 45px;
}

.neon-reflective-buttons.dark {
    background: rgb(50, 50, 50);
}

.neon-reflective-buttons.light {
    background: rgb(235, 235, 235);
}

.neon-reflective-buttons .button-container {
    min-height: 250px !important;
}

.neon-reflective-buttons .neon-reflective-button {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 5px;
    color: #03e9f4;
    background: transparent;
    border: none;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 4px;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, #0005) */
}

.neon-reflective-buttons .neon-reflective-button.reflective {
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005)
}

.neon-reflective-buttons .neon-reflective-button:hover {
    cursor: pointer;
}

.neon-reflective-buttons .neon-reflective-button:focus {
    outline: none;
}

.neon-reflective-buttons .neon-reflective-button.xlg {
    padding: 30px 35px;
    font-size: 28px;
    letter-spacing: 6px;
}

.neon-reflective-buttons .neon-reflective-button.lg {
    padding: 25px 30px;
    font-size: 24px;
    letter-spacing: 4px;
}

.neon-reflective-buttons .neon-reflective-button.md {
    padding: 20px 25px;
    font-size: 20px;
    letter-spacing: 4px;
}

.neon-reflective-buttons .neon-reflective-button.sm {
    padding: 15px 20px;
    font-size: 16px;
    letter-spacing: 3px;
}

.neon-reflective-buttons .neon-reflective-button.xs {
    padding: 10px 15px;
    font-size: 10px;
    letter-spacing: 2px;
}

.neon-reflective-buttons .neon-reflective-button.green {
    filter: hue-rotate(290deg);
}

.neon-reflective-buttons .neon-reflective-button.pink {
    filter: hue-rotate(110deg);
}

.neon-reflective-buttons .neon-reflective-button.yellow {
    filter: invert(1) hue-rotate(65deg) brightness(3);
}

.neon-reflective-buttons .neon-reflective-button.orange {
    filter: invert(1) hue-rotate(45deg) brightness(2.5);
}

.neon-reflective-buttons .neon-reflective-button.purple {
    filter: hue-rotate(80deg);
}

.neon-reflective-buttons .neon-reflective-button.red {
    filter: invert(1) brightness(1.5);
}

.neon-reflective-buttons .neon-reflective-button.white {
    filter: grayscale(1) brightness(3);
}

.neon-reflective-buttons .neon-reflective-button.mint {
    filter: invert(1) hue-rotate(160deg) brightness(3);
}

.neon-reflective-buttons .neon-reflective-button.cyan {
    filter: invert(1) hue-rotate(165deg) brightness(3);
}

.neon-reflective-buttons .neon-reflective-button.magenta {
    filter: invert(1) hue-rotate(335deg) brightness(3);
}

.neon-reflective-buttons .neon-reflective-button.hotpink {
    filter: invert(1) hue-rotate(350deg) brightness(3);
}

.neon-reflective-buttons .neon-reflective-button.yellow:hover,
.neon-reflective-buttons .neon-reflective-button.orange:hover,
.neon-reflective-buttons .neon-reflective-button.red:hover,
.neon-reflective-buttons .neon-reflective-button.mint:hover,
.neon-reflective-buttons .neon-reflective-button.cyan:hover,
.neon-reflective-buttons .neon-reflective-button.magenta:hover,
.neon-reflective-buttons .neon-reflective-button.hotpink:hover {
    color: white;
}

.neon-reflective-buttons .neon-reflective-button:hover {
    background: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 200px #03e9f4;
}

.neon-reflective-buttons .neon-reflective-button span {
    position: absolute;
    display: block;
}

.neon-reflective-buttons .neon-reflective-button.bd-no span {
    display: none;
}

.neon-reflective-buttons .neon-reflective-button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: neon-reflective-1 3s linear infinite;
}

.neon-reflective-buttons .neon-reflective-button.bd-f span:nth-child(1) {
    animation: neon-reflective-1 1s linear infinite;
}

@keyframes neon-reflective-1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}

.neon-reflective-buttons .neon-reflective-button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: neon-reflective-2 3s linear infinite;
    animation-delay: .75s;
}

.neon-reflective-buttons .neon-reflective-button.bd-f span:nth-child(2) {
    animation: neon-reflective-2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes neon-reflective-2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}

.neon-reflective-buttons .neon-reflective-button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: neon-reflective-3 3s linear infinite;
    animation-delay: 1.5s;
}

.neon-reflective-buttons .neon-reflective-button.bd-f span:nth-child(3) {
    animation: neon-reflective-3 1s linear infinite;
    animation-delay: .5s;
}

@keyframes neon-reflective-3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}

.neon-reflective-buttons .neon-reflective-button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: neon-reflective-4 3s linear infinite;
    animation-delay: 2.25s;
}

.neon-reflective-buttons .neon-reflective-button.bd-f span:nth-child(4) {
    animation: neon-reflective-4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes neon-reflective-4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}