.demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.demo-header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 25vh;
    width: 75%;
    padding: 10px;
    margin: 5px auto;
}

.demo-header h1 {
    text-align: center;
    color: #0d428c;
    font-size: 40px;
}

.demo-header .underline {
    border-bottom: 2px solid #0d428c;
    width: 70%;
    margin: 10px auto;
}

.demo .demo-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    min-height: 95vh;
    margin: 15px 0;
    font-family: "Poppins", sans-serif;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 10px;
}

.demo .demo-title {
    font-size: 30px;
    margin: 20px;
    color: #0d428c;
    text-align: center;
}

.demo .options-container {
    position: relative;
    width: 90%;
    margin: 10px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 10px;
    color: #0d428c;
}

.demo .options-container h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 0;
    text-align: center;
    color: #0d428c;
    background: white;
}

.demo .options-container .options-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin: 10px;
    box-shadow: inset rgba(0, 0, 0, 0.5) 0px 5px 10px;
    background: #0d428c;
}

.demo .options-container .options-box .option-section {
    padding: 10px;
    margin: 5px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
    background: white;
}

.demo .options-container .options-box button {
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top: none;
    border-bottom: none;
    border-left: none;
    background: white;
    color: rgba(0, 0, 0, 1);
    transition: .5s;
}

.demo .options-container .options-box button.active {
    background: #0d428c;
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
}

.demo .options-container .options-box button:hover {
    color: white;
    background: #0d428c;
    border-color: rgba(255, 255, 255, 0.5);
}

.demo .options-container .options-box button:focus {
    outline: none;
}

.demo .demo-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 50px 10px 10px;
    margin: 15px 0; */
}

.demo .button-container {
    position: relative;
    width: 95%;
    min-height: 150px;
    margin: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.demo .button-container:before {
    content: attr(data-text);
    position: absolute;
    background: black;
    color: white;
    padding: 5px 10px;
    top: -15px;
    left: 2%;
    border: 1px solid black;
    z-index: 1;
}

/* .demo .demo-container.dark {
    background: rgb(50, 50, 50);
    border: 1px solid black;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 45px;
} */

.demo .button-container.dark {
    background: black;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.demo .button-container.dark:before {
    background: rgb(30, 30, 30);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* .demo .demo-container.light {
    border: 1px solid rgba(235, 235, 235, 0.5);
    background: rgb(235, 235, 235);
    box-shadow: inset rgba(0, 0, 0, 0.7) 0px 5px 45px;
} */

.demo .button-container.light {
    background: white;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

.demo .button-container.light:before {
    background: rgb(235, 235, 235);
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.demo .navbar-container,
.demo .icon-container {
    position: relative;
    width: 95%;
    min-height: 150px;
    margin: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
}

.demo .navbar-container:before,
.demo .icon-container:before {
    content: attr(data-text);
    position: absolute;
    background: black;
    color: white;
    padding: 5px 10px;
    top: -15px;
    left: 2%;
    border: 1px solid black;
    z-index: 1;
}

/* .demo .demo-container.dark {
    background: rgb(50, 50, 50);
    border: 1px solid black;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 45px;
} */

.demo .navbar-container.dark,
.demo .icon-container.dark {
    background: black;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
    display: flex;
    flex-wrap: wrap;
}

.demo .navbar-container.dark:before,
.demo .icon-container.dark:before {
    background: rgb(30, 30, 30);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* .demo .demo-container.light {
    border: 1px solid rgba(235, 235, 235, 0.5);
    background: rgb(235, 235, 235);
    box-shadow: inset rgba(0, 0, 0, 0.7) 0px 5px 45px;
} */

.demo .navbar-container.light,
.demo .icon-container.light {
    background: white;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
    display: flex;
    flex-wrap: wrap;
}

.demo .navbar-container.light:before,
.demo .icon-container.light:before {
    background: rgb(235, 235, 235);
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.5);
}