.demo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.demo-section-header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 25vh;
    width: 75%;
    padding: 10px;
    margin: 5px auto;
    font-family: Arial, Helvetica, sans-serif;
}

.demo-setion-header h1 {
    text-align: center;
    color: #0d428c;
    font-size: 40px;
}

.underline {
    border-bottom: 3px solid #0d428c;
    width: 80%;
    margin: 40px auto;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 5px 5px;
}

.demo .demo-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    /* min-height: 95vh; */
    margin: 15px 0;
    font-family: "Poppins", sans-serif;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 10px;
}

.demo .demo-title {
    font-size: 30px;
    margin: 20px;
    color: #0d428c;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.demo .options-container {
    position: relative;
    width: 90%;
    height: 100%;
    margin: 10px;
    padding: 15px;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 10px;
    color: #0d428c;
    font-family: Arial, Helvetica, sans-serif;
}

.demo .options-container h3 {
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 10px;
    margin: 0;
    text-align: center;
    color: #0d428c;
    background: white;
}

.demo .options-container .options-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
    margin: 10px;
    height: 100%;
    box-shadow: inset rgba(0, 0, 0, 0.5) 0px 5px 10px;
    background: #0d428c;
}

.demo .options-container .options-box .option-section {
    position: relative;
    padding: 10px;
    margin: 5px;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
    background: white;
}

.demo .options-container .options-box button {
    padding: 5px 10px;
    margin: 5px 0;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-top: none;
    border-bottom: none;
    border-left: none;
    background: white;
    color: rgba(0, 0, 0, 1);
    transition: .5s;
}

.demo .options-container .options-box button.active {
    background: #0d428c;
    color: white;
    border-color: rgba(255, 255, 255, 0.5);
}

.demo .options-container .options-box button:hover {
    color: white;
    background: #0d428c;
    border-color: rgba(255, 255, 255, 0.5);
}

.demo .options-container .options-box button:focus {
    outline: none;
}

.demo .options-container .options-box.source-box {
    justify-content: center;
} 

.citation-box {
    position: relative;
    width: 85%;
    height: 100%;
    align-self: center;
}

.citation-box button a {
    text-decoration: none;
    color: black;
    transition: .5s;
}

.citation-box button:hover a {
    color: white;
    transition: .5s;
}

.citation-embedded-video {
    position: relative;
    padding-top: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
    height: 100%;
    overflow: hidden;
}

.citation-embedded-video iframe {
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
}

.demo .demo-container {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 50px 10px 10px;
    margin: 15px 0; */
}

.demo .button-container {
    position: relative;
    width: 95%;
    min-height: 150px;
    margin: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 15px;
}

.demo .button-container:before {
    content: attr(data-text);
    position: absolute;
    background: black;
    color: white;
    padding: 5px 10px;
    top: -15px;
    left: 2%;
    border: 1px solid black;
    z-index: 1;
}

/* .demo .demo-container.dark {
    background: rgb(50, 50, 50);
    border: 1px solid black;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 45px;
} */

.demo .button-container.dark {
    background: black;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.demo .button-container.dark:before {
    background: rgb(30, 30, 30);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* .demo .demo-container.light {
    border: 1px solid rgba(235, 235, 235, 0.5);
    background: rgb(235, 235, 235);
    box-shadow: inset rgba(0, 0, 0, 0.7) 0px 5px 45px;
} */

.demo .button-container.light {
    background: white;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 5px 15px;
}

.demo .button-container.light:before {
    background: rgb(235, 235, 235);
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.demo .navbar-container,
.demo .icon-container {
    position: relative;
    width: 95%;
    min-height: 150px;
    margin: 20px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
}

.demo .navbar-container:before,
.demo .icon-container:before {
    content: attr(data-text);
    position: absolute;
    background: black;
    color: white;
    padding: 5px 10px;
    top: -15px;
    left: 2%;
    border: 1px solid black;
    z-index: 1;
}

/* .demo .demo-container.dark {
    background: rgb(50, 50, 50);
    border: 1px solid black;
    box-shadow: inset rgba(0, 0, 0, 0.9) 0px 5px 45px;
} */

.demo .navbar-container.dark,
.demo .icon-container.dark {
    background: black;
    border: 1px solid black;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
    display: flex;
    flex-wrap: wrap;
}

.demo .navbar-container.dark:before,
.demo .icon-container.dark:before {
    background: rgb(30, 30, 30);
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

/* .demo .demo-container.light {
    border: 1px solid rgba(235, 235, 235, 0.5);
    background: rgb(235, 235, 235);
    box-shadow: inset rgba(0, 0, 0, 0.7) 0px 5px 45px;
} */

.demo .navbar-container.light,
.demo .icon-container.light {
    background: white;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px;
    display: flex;
    flex-wrap: wrap;
}

.demo .navbar-container.light:before,
.demo .icon-container.light:before {
    background: rgb(235, 235, 235);
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

@media (max-width: 1155px) {

}

@media (max-width: 1085px) {

}

@media (max-width: 992px) {

}

@media (max-width: 524px) {
    .demo .options-container .options-box button {
        font-size: 12px;
    }

    .citation-box {
        position: relative;
        width: 100%;
        height: 100%;
        align-self: center;
    }
}

@media (max-width: 480px) {

}

@media (max-width: 375px) {

}

@media (max-width: 322px) {

}

@media (max-width: 282px) {

}