@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Raleway:200');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
}

.app-view {
    display: flex;
    position: relative;
}

.demo-section {
    position: relative;
    margin: 0;
    padding: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.demo-section-header {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    min-height: 25vh;
    width: 75%;
    padding: 10px;
    margin: 5px auto;
}

.demo-section-header h1 {
    text-align: center;
    color: #0d428c;
    font-size: 40px;
}

.demo-section-header .underline {
    border-bottom: 2px solid #0d428c;
    width: 70%;
    margin: 10px auto;
}

@media (max-width: 992px) {
    .app-view {
        flex-direction: column;
    }
}
